[2015-02-04 09:56] alexzaporozhets opened #2 "Refused to evaluate a string as JavaScript because 'unsafe-eval'"
Refused to evaluate a string as JavaScript because 'unsafe-eval' is not an allowed source of script in the following Content Security Policy directive: "script-src 'self' 'unsafe-inline' http://www.google-analytics.com https://www.google-analytics.com http://cdn.mxpnl.com https://cdn.mxpnl.com".

[2015-02-04 14:26] pauldowman commented on #2
I take it you've added the browser-policy package to your app and have set `BrowserPolicy.content.disallowInlineScripts()`, is that right?

I don't think that will work, I think most of the analytics service scripts inject inline scripts. I haven't confirmed this, let me know if that fixes your issue.

[2015-02-04 19:39] alexzaporozhets commented on #2
Nope, we did not use browser-policy, .meteor/packages:

[code]

[2015-02-04 20:56] pauldowman commented on #2
Can you check which version of the analytics package you're using? Check `.meteor/versions`. If it's not 0.1.1 can you do `meteor update okgrow:analytics`? There was a previous version that pulled in browser-policy as a dependency rather than a weak dependency, and sometimes Meteor's version solver defaults to the oldest package rather than the newest (although that's only when adding _indirect_ d

[2015-02-04 20:56] pauldowman commented on #2
Can you check which version of the analytics package you're using? Check `.meteor/versions`. If it's not 0.1.1 can you do `meteor update okgrow:analytics`? There was a previous version that pulled in browser-policy as a dependency rather than a weak dependency, and sometimes Meteor's version solver defaults to the oldest package rather than the newest (although that's only when adding *indirect* d

[2015-02-05 11:00] alexzaporozhets commented on #2
Thanks, the problem was solved

[2015-02-05 11:00] #2 closed, assigned to nobody

[2015-02-05 11:30] alexzaporozhets opened #3 "Add support for configuration with environment variables"
Just a proposal:

[code]

[2015-02-05 14:25] pauldowman commented on #3
I don't think that would work, environment variables aren't available on the client, so I'm going to close this.

But if there was any change to how configuration worked I'd rather see it be possible directly in JS. Something like: `Analytics.configure({mixpanel: "...", google: "..."});` The reason is that the config for analytics services aren't sensitive and it's arguably not worth the effort of

[2015-02-05 14:25] #3 closed, assigned to nobody

[2015-02-05 14:31] pauldowman commented on #2
Just curious, was that the solution? It was an old version? I'm not sure how that would happen unless it was a dependency of another package (or unless you actually installed it during the one day window that it had that bug).

[2015-02-06 07:27] alexzaporozhets commented on #2
It was an old version

[2015-02-07 10:10] alexzaporozhets opened #4 "Mixpanel does not receive data from analytics.identify()"
We are using [accounts-ui-bootstrap-3](https://atmospherejs.com/ian/accounts-ui-bootstrap-3) package.

[2015-02-07 10:26] alexzaporozhets commented on #4
I solve the problem - extra boolean parameter was required.

[code]

But still it will work only for local account (email/password). For facebook & google we need to program extra.

[2015-02-10 18:45] tsemana commented on #4
Hi,

thanks for pointing that out. I'll update the README to include `"people": true` in the settings. As for oauth identify requiring extra work, that's correct and intentional. We only handled email/password initially because most apps use this by default but not all apps use oauth.

[2015-02-14 17:16] elie222 opened #5 "Data seems to be one page behind"
I added this package to my site and ran analytics.debug() in the console.

When I jump from page to page, I'm getting data such as this:

[code]

This is data I get when I go from the transfers page to the howToPlay page. (The path for the howToPlay page is "/howToPlay". And the page for the transfers page is "/transfers").

[2015-02-14 17:34] elie222 opened #6 "When using multiply:iron-router-progress each page request sends multiple analytics requests"
When using multiply:iron-router-progress (a very popular package) each page request sends multiple analytics requests.
Before I was using your package, I also had this problem. I made an analytics request in Router.onAfterAction and onAfterAction was being called multiple times (usually 2 or 3) per page.

[2015-02-15 14:35] elie222 commented on #6
I haven't tried this yet, but to avoid problems with onafteraction running twice, we can use onrun instead. See here: https://groups.google.com/forum/m/?utm_medium=email&utm_source=footer#!msg/meteor-talk/adi3TyyU_Ak/7M_uLEIz6fYJ

[2015-02-19 17:55] themeteorchef opened #8 "Support for oAuth users"
I'm working with Mixpanel and trying to identify users in the app. While running the `analytics.debug()` function, I can see the `identify` method being called properly, however, no identity/people data is showing up in Mixpanel (although moving between pages _does_ show up).

This _appears_ to apply to both `accounts-password` users and `accounts-<service>` users.

Looking at the package code, it

[2015-02-19 18:43] tsemana commented on #8
A PR would be welcome for this :)
The original intention was to provide the account-password as example. If you'd like to go ahead and make the update to the package review and merge.

[2015-02-19 19:22] pauldowman commented on #8
Yeah it would be great to support that. @themeteorchef if you could even just tell us the names of the variables to look for for each service (and whether they're always set or not) that would help.

[2015-02-19 19:25] themeteorchef commented on #8
@pauldowman sure, here's my current hacky solution for this (doesn't cover all cases). With a bit of refactoring this may do the trick.

[code]

[2015-02-19 22:05] pauldowman commented on #8
Awesome @themeteorchef, thanks!

[2015-02-20 13:04] kevohagan opened #9 "Move analyticsSettings outside of public"
Meteor.settings is available on the client, is there a specific reason to keep analyticsSettings in public?

[2015-02-20 14:12] pauldowman commented on #9
I don't think that's correct. Only Meteor.settings.public is available on the client. http://docs.meteor.com/#/full/meteor_settings

[2015-02-20 14:12] #9 closed, assigned to nobody

[2015-02-20 16:21] kevohagan commented on #9
sorry i meant Meteor.settings.public!
I mean, right now, anyone can just open their browser console and get your API keys for all services! Isn't that maybe not best practice?
Just wondering if it wouldnt be better to check server side for the  analyticsSettings and then initiate analytics.js on the client?
Or am i missing something here

[2015-02-20 16:57] kevohagan commented on #9
is that an issue @pauldowman ?

[2015-02-23 15:17] pauldowman commented on #9
The configuration for those services are meant to be on the client side, it's not an issue. They're not sensitive. You can look at any web page that uses Google Analytics or Mixpanel and see the tracking code.

[2015-02-23 15:33] tsemana opened #10 "Test workflow integration"
This is a test

[2015-02-23 15:47] #10 closed, assigned to nobody

[2015-02-23 17:14] tsemana opened #11 "New Issue Test"
Testing

[2015-02-23 17:16] #11 closed, assigned to nobody

[2015-02-24 00:17] #4 closed, assigned to nobody

[2015-03-10 06:57] alexzaporozhets commented on #8
Hi, this code will not work as expected without adding extra publication (users collection). Also we should consider passing the name not only emails.

http://stackoverflow.com/questions/13151879/publish-certain-information-for-meteor-users-and-more-information-for-meteor-use

[2015-03-10 14:20] pauldowman commented on #8
Yeah @tsemana this looks like server-side code.

[2015-03-10 14:26] pauldowman commented on #8
To fix it you could publish the service emails (for the current user only), but don't publish the whole services object.

Also no need for a find on the current user.

[2015-03-11 14:28] joncursi opened #12 "Server-Side Console Logging"
I'm getting this logged to console on app startup. Is this just debug code that was never removed?

[code]

[2015-03-18 13:41] jhmacdon commented on #5
This happens to me also

[2015-03-20 14:07] #6 closed, assigned to nobody

[2015-03-23 16:01] #12 closed, assigned to nobody

[2015-03-23 16:10] joncursi commented on #12
:+1:

[2015-04-10 16:29] #8 closed, assigned to nobody

[2015-04-15 14:49] tsemana commented on #5
I'm sorry about not getting to this sooner. Can you tell me if you're still experiencing the problem? I have not been able to reproduce the behaviour.

We've just pushed an update, if you're able to try it and let me know or if you could add me to a repo where this is happening?

Thanks for your help!

[2015-04-19 17:58] elie222 opened #17 "publication doesnt call this.ready when logged out"
This causes a problem with meteorhacks:fast-render package. i made a pull request to fix this problem

[2015-04-20 19:35] tsemana commented on #17
Fixed by https://github.com/okgrow/analytics/pull/16

[2015-04-20 19:35] #17 closed, assigned to nobody

[2015-04-24 17:12] tsemana commented on #5
@elie222 I'm closing this for now but feel free to re-open it if you can confirm that you're still experiencing the problem?

[2015-04-24 17:12] #5 closed, assigned to nobody

[2015-04-28 01:33] dcworldwide opened #18 "Iron Router EnsureSignedIn Issue?"
Hi, i'm using your plugin with IR and the Accounts Core [EnsureSignedIn](https://github.com/meteor-useraccounts/core/blob/master/Guide.md#content-protection) plugin. In my instance of okgroup:analytics, i've noticed that every router interaction seems to send a 'signedIn' track event to mixpanel. The result is that in my mixpanel event log, i'm seeing a large volume of signedIn events (shown below

[2015-04-30 00:58] tsemana commented on #18
@dcworldwide thanks for submitting this. It's not by design so we'll be looking into it.

[2015-04-30 06:06] andreipopovici commented on #18
+1 I'm getting the exact same thing, Identify + Track, when using useraccounts:core and Iron Router with EnsureSignedIn.

Any suggestions for a potential solution?

[2015-04-30 07:04] andreipopovici commented on #18
For my needs, I've added https://github.com/revolution-labs/meteor-user-login-state as a weak dependency, as well as checks for 'user.profile.registeredEmails' for compatibility with accounts-meld.

Not sure if such heavy modifications call for a pull request to this repo, your call.

[2015-05-02 10:23] levino commented on #18
+1 Happening for us at coyno.com too. We are using ensuresignedin too.

[2015-05-02 11:12] andreipopovici commented on #18
@Levino, here's my hacky fix, in case it's useful:

(uses the original getUserEmail() function from this repo)

[code]

[2015-05-03 12:11] bryanterrell opened #20 "Using Analytics Package with Flurry and Multiple API Keys"
This may or may not be an issue, as I haven't actually started using the package yet. The reason being that we were looking at using Flurry, which requires different projects (and API keys) for different mobile platforms. We are currently building our Meteor app for iOS and Android, which means I have a unique Flurry project and API key for each.

I saw that @pauldowman mentioned something about p

[2015-05-05 01:28] clayne11 opened #21 "Allow customization for the routes that are tracked"
The user should be able to customize which routes are tracked.

[2015-05-05 11:57] tsemana commented on #21
@clayne11, thanks for the submission. Could you give me an example of your usecase, and how you envision it working?

[2015-05-05 12:00] tsemana commented on #18
@andreipopovici thanks for posting your workaround. Please feel free to try a first cut at a PR on it.

[2015-05-05 13:04] tsemana commented on #20
thanks @bryanterrell. Have you made the decision on Flurry at this point? Our package uses a subset of of this [analytics-integrations](https://github.com/segmentio/analytics.js-integrations/tree/master/lib) library and unfortunately Flurry does not have an implemented integration.

It sounds like the decision is not yet concrete and if so I'd suggest looking at the list of supported services. Clo

[2015-05-05 13:04] #20 closed, assigned to nobody

[2015-05-05 14:23] andreipopovici opened #23 "Issues with meteorhacks:fast-render"
See https://github.com/meteorhacks/fast-render/issues/12#issuecomment-94301308 and higher.

Basically, needs a this.ready() somewhere in the server/publication. I'll try to figure out exactly where :)

[2015-05-05 14:26] andreipopovici commented on #23
Bah, seems it was a different issue I was seeing. I saw this.ready() in the analytics publication, should work fine.

The linked comment threw me off, since it was made only 16 days ago :)

Sorry for the false alarm!

[2015-05-05 14:26] #23 closed, assigned to nobody

[2015-05-05 15:56] pauldowman commented on #20
Weird that they don't have flurry because Segment does support it. I guess just server-side.

[2015-05-05 18:03] pauldowman commented on #18
It looks to me like this is actually an issue where `trackLogins()` could be re-run reactively as the user subscription loads, so I don't think it's related to the EnsureSignedIn plugin. (Unless I'm misunderstanding something.)

I think a simpler fix is just checking for `Meteor.userId` instead of `Meteor.user`. That doesn't change reactively. So make sure there's nothing inside `trackLogins()` th

[2015-05-05 19:09] bryanterrell commented on #20
Our marketing director requested we try to get Flurry working - from what I've read it's the leader in mobile analytics and guessing that Yahoo will push it even more. Thanks for clarifying, though - I just assumed it was supported by the JS library because it was listed as one of the Segment integrations.

[2015-05-11 03:02] tsemana commented on #18
@andreipopovici, @dcworldwide
I haven't merged the PR yet, because I wanted to be absolutely sure I understood what was going on..  In the end, I'm not able to see the multiple singedIn events on a basic app using accounts and ensureSignedIn.

Could you tell me if you were using the latest version of the package(v0.2.3)? and if not what happens if you update to the new package?

If you are using t

[2015-05-11 21:28] tsemana commented on #18
@andreipopovici, @dcworldwide, @Levino,

Please note also, we've just published an update to 0.2.4. Please give that version a try and let me know if the issue still exists.

[2015-05-12 07:18] levino commented on #18
@tsemana Thanks. Will do.

[2015-05-15 11:17] tsemana commented on #21
@clayne11, we don't see the usecase where you would need to actively avoid tracking specific routes. Closing this for now.

[2015-05-15 11:17] #21 closed, assigned to nobody

[2015-05-15 14:31] oskarszoon opened #26 "Make the automated user tracking optional"
I understand this behaviour is desired when accounts-base is used, but in our case we want a little bit of extra control over it. Constant "Signed in" events are when the user first loads the page, which makes sense in Meteor, but does pollute the data a bit.

I would prefer to be able to turn this off through a configuration.

[2015-05-15 14:40] oskarszoon commented on #26
Another thing is the auto-identify which doesn't make sense for our users setup (encrypted profiles). We now add the identifying info on analytics.ready(), which means the first "Signed in" event fires with the automatic identify (which again is incorrect in our case)

[2015-05-15 15:23] pauldowman commented on #26
@oskarszoon are you using version 0.2.5? Prior to that there was a bug where signed in events could fire on page load, but I don't think that should happen now. Does that address your first issue?

And I don't fully understand your second comment, can you explain? It should only identify on sign in. Is there ever a case where you wouldn't want to identify on sign in? I don't think so. Why would yo

[2015-05-18 18:51] pauldowman commented on #18
I'm assuming this is fixed, I think it was due to the use of `onBeforeAction` instead of `onRun` which has been fixed. Please re-open it if you're still having an issue with the latest version.

[2015-05-18 18:51] #18 closed, assigned to nobody

[2015-05-19 08:28] oskarszoon commented on #26
@pauldowman The new version definitely helps, but I still think it's weird that a "Signed in" event is fired every time a user opens the app or reloads the page. It would make more sense to fire a "Meteor loaded" event, and only fire Signed in when he actually signs in for the first time (which we're tracking now manually).

As for my identify issue, the situation we have is that we want to change

[2015-05-26 13:41] ChenRoth-old opened #28 "package causes client errors"
hey

I added your package to my project and configured Meteor.settings to include a GA key
However, once the package is added, my app is broken

I get this warning in console (I have iron:router):
Route dispatch never rendered. Did you forget to call this.next() in an onBeforeAction?

I know your code calls this.next(), but something seems to be broken
Anyway, the program execution gets cut and it

[2015-05-27 05:09] tsemana commented on #28
@ChenRoth Thanks for the update. Were you able to pin-point specific interaction?

[2015-05-27 08:05] ChenRoth-old commented on #28
yeah, it's basically what I presumed - your package runs a Meteor.user()
call at a very early stage, which invokes my custom transform function on
the users collection.
not sure if you're up for this change, but I guess a viable solution would
be to allow optional override of the transform function (or pass a null
argument to bypass it altogether)

On Wed, May 27, 2015 at 8:09 AM tsemana notificat

[2015-05-28 09:38] #28 closed, assigned to nobody

[2015-05-28 09:45] ChenRoth-old opened #30 "wrong page tracking"
hey @tsemana,

following specific requirements in my project, I've decided to write my own analytics wrapper (which also includes a server-side analytics-node wrapper, btw)

Naturally, I've mentally borrowed basic ideas from your project, such as running a page track within an onRun event (originally suggested by the Iron Router author, of course)

However, I've realized that page tracks are inacc

[2015-06-01 16:07] #26 closed, assigned to nobody

[2015-06-01 16:08] tsemana commented on #30
@ChenRoth thanks for the pointer. Made the update in the latest commit.

[2015-06-01 16:08] #30 closed, assigned to nobody

[2015-06-02 06:41] hpx7 opened #31 "Flow Router Support"
Could we get support for flow-router as well?

[2015-06-02 12:18] tsemana commented on #31
@hpx7 yes. It's already been discussed internally as an upcoming feature.

[2015-06-07 12:02] geritol opened #32 "GET net::ERR_BLOCKED_BY_CLIENT"
Hi!
I am getting this error:

GET http://www.google-analytics.com/analytics.js net::ERR_BLOCKED_BY_CLIENT

Do you know why does it happen or how to solve it?
Thanks a lot!

[2015-06-07 12:09] geritol commented on #32
Just found the answer: the problem was Ad Block (on chrome)...

Don't know if we can do something about it, but currently this plugin wont let you track users or visitors using Ad Block.

http://stackoverflow.com/questions/22318119/i-am-getting-failed-to-load-resource-neterr-blocked-by-client-with-google-chr

[2015-06-07 12:24] #32 closed, assigned to nobody

[2015-06-09 01:05] jay-depot commented on #3
If you ever consider revisiting this issue, there's a package https://atmospherejs.com/mrt/allow-env which will let you select server-side environment variables to expose to the client side now, which would make this quite doable.

[2015-06-10 02:44] rkstar opened #33 "analytics.initialize is not a function ?"
i added the okgrow:analytics package and updated my settings.json using the example provided, but i'm getting an error when running my app.

[code]

`settings.json`

[code]

[2015-06-11 12:55] tsemana commented on #33
@rkstar, sorry you're running into the issue. I can't reproduce the error without more information. Can you add me to your repo or setup an example repo doing the same thing?

[2015-06-11 22:29] rkstar commented on #33
it seems i had `percolatestudio:segment.io` package installed also which i suppose was conflicting with its own version of analytics.js.

i did get another problem though, using flow-router, i'll open another issue.

[2015-06-11 22:29] #33 closed, assigned to nobody

[2015-06-11 22:33] rkstar opened #34 "maximum call stack size exceeded -- using FlowRouter.triggers.enter"
i'm using [FlowRouter](https://github.com/meteorhacks/flow-router) for routing, trying to log each time it deals with a route (simulating "page loads")

[code]

when i do this, the browser chokes and throws this error

[code]

as soon as i take the `FlowRouter.triggers.enter` code out, all is good in the world.

[2015-06-11 23:39] rkstar commented on #34
# SOLVED.

the problem is using the `context.route` object.  when i switch this to use the `context.path` property, the problem disappeared.

i guess there is too much recursion in the context.route object.

[2015-06-11 23:39] #34 closed, assigned to nobody

[2015-06-27 01:05] nicholasalanbrown opened #35 "Error on Local Environment"
Hello:

Despite following the instructions and placing the trackingID inside a "public" block in my settings.json, I still get an error when developing on my local in the browser console:

[code]

However, the tracking seems to work just fine in production. This is my settings.json block:

[code]

[2015-06-27 11:07] tsemana commented on #35
Hi @nicholasalanbrown, Just a simple check, but are you starting meteor with `meteor --settings setting.json` ?

[2015-06-29 14:43] tsemana commented on #35
@nicholasalanbrown, any update on this issue? Could you give us more details that might help us reproduce the issue?

[2015-06-29 19:32] nicholasalanbrown commented on #35
Yes, thanks @tsemana I got it working with your suggestion. I'll probably skip starting that way on my local though since it's not annoying. I wish Meteor had a better built in system for managing environment-specific settings/variables.

[2015-06-29 19:33] tsemana commented on #35
Ok, good to hear. Closing this ticket

[2015-06-29 19:33] #35 closed, assigned to nobody

[2015-07-07 19:25] RobertLowe opened #36 "Future: analytics should use extractor package to get email"

[2015-07-08 09:12] thomasspiesser opened #38 "ga anonymize IP"
hey guys,
thanks for the convenient package. quick question: i need to anonymize the IP through `ga('set', 'anonymizeIp', true);` in google analytics. can I do that using this package? if yes, how and where would be the best place?

[2015-07-08 14:03] nikhildaga commented on #31
+1

[2015-07-09 02:03] pauldowman commented on #36
:+1: yes we need to publish that package too :-)

[2015-07-09 02:42] RobertLowe commented on #36
Yea, I also have another issue for that, it would be nice to make it more generic, like a general extractor, so you can pluck any property like `full_name`, `first_name`, `last_name`, `username`, `emails`, `email`, etc

[code]

Just posting this as a reminder.

Cheers

[2015-07-13 04:28] thirdchance57 commented on #31
so i guess there is okgrow will not work with flow router?

[2015-07-13 12:32] tsemana commented on #31
@thirdchance57 - Not exactly sure what the comment means, but feel free to check the pending PR here: https://github.com/okgrow/analytics/pull/37

[2015-07-13 22:32] ffxsam opened #40 "Any way to exclude routes?"
Let's say I wanted to exclude the route `/admin/*` - is that possible? If so, how?

[2015-07-14 13:32] tsemana commented on #31
The most recent update has support for flow router. There is also an example app included in the repo under the examples folder.

[2015-07-14 13:32] #31 closed, assigned to nobody

[2015-07-14 13:48] tsemana commented on #40
Hi @ffxsam - there's currently no ability exclude routes since we don't see a usecase where you would need to actively avoid tracking specific routes. In our usage, we collect all data through for analytics and use funnels and the tools to focus on the relevant data points.

Closing this ticket for now, but would be happy to review a PR.

[2015-07-14 13:48] #40 closed, assigned to nobody

[2015-07-14 21:57] ffxsam commented on #40
Well, one use case would be to not track the admin pages of a website.

[2015-07-16 14:45] elie222 opened #41 "Future: add sign up event"
We log sign in and sign out, but sign up would also be great to log

[2015-07-16 16:32] pauldowman commented on #41
:+1:

[2015-07-26 19:33] elie222 opened #42 "Add option to disable page views for certain routes"
I use some redirects in certain situations and I don't want these to come up as two page views. Another situation where you might not want to count page views is admin pages.

[2015-07-27 00:03] cyllu2 opened #43 "Is this working?"
I added the package, added the settings inside settings.json, doesn't work. My tracking code is correct and I've waited about 24 hours now for Google Analytics to respond. Nothing happens. Is there something else I need to do? (Yes, I use Iron Router).

[2015-07-27 15:08] nicolamr commented on #43
Is the "analytics" object available to you? Client or server side? I just installed it and there's no analytics object (don't know if it's supposed to exist both server and client side). Maybe we have the same issue?

[2015-07-27 15:22] tsemana commented on #43
Hi @cyllu2, @nicolamr, just spooled up a scaffold app and tested latest build and meteor versions and I'm seeing activity immediately in the realtime section of GA. Just looking for a little more information on the issue.

- Are there any errors showing up in the console?
- Are you starting meteor with `meteor --settings settings.json`?
- What's displayed in the console when you turn on debug in t

[2015-07-27 17:13] cyllu2 commented on #43
It took another 24 hours (so two days) for it to start, that's all. Sorry for the confusion, but damn that was slow.

[2015-07-27 17:13] #43 closed

[2015-07-27 17:16] tsemana commented on #43
No problem @cyllu2, thanks for the update

[2015-07-27 20:34] nickredmark opened #44 "analytics not defined"
[code]

settings.json contains

[code]

I start meteor with

[code]

no error messages

when I start

[code]

and type

[code]

I get

[code]

[2015-07-27 20:38] tsemana commented on #44
It is (currently) a client-side tool. What happens when you go into the browser console and type `analytics.debug()`?

[2015-07-27 21:19] nickredmark commented on #44
Just the same
ReferenceError: analytics is not defined

[2015-07-27 21:41] tsemana commented on #44
Last test: what happens when you start the app with just `meteor`.  You would normally get a console log saying `"Missing analyticsSettings in Meteor.settings.public"`.

If not, would it be possible to invite me to your repo, or are you able to create a base app that reproduces the problem?

[2015-07-28 08:15] nickredmark commented on #44
I removed the analytics settings from the config, and it doesn't complain.

I tried something else:

   meteor create test
   cd test
   meteor add okgrow:analytics
   meteor

No error message. Then I added the above settings file

[code]

No error message, no analytics object.

Weird.

[2015-07-28 12:10] tsemana commented on #44
Could you post the repo and give me access?

[2015-07-28 12:40] tsemana commented on #44
@nicolamr here's a base repo I created https://github.com/tsemana/analytics-test.
Starting this app with `meteor` (without a `settings.json` file), going to app in the browser and opening the javascript console (alt+command j in chrome on a mac), I immediately see `Missing analyticsSettings in Meteor.settings.public`.
Typing `analytics` into the javascript console on the browser also returns the a

[2015-07-28 12:42] nickredmark commented on #44
Here's the one that doesn't work with me, going to try yours.
https://github.com/nicolamr/okgrow-analytics-test
It feels like I'm doing some stupid mistake.

[2015-07-28 12:47] nickredmark commented on #44
I cloned your repo and it doesn't work with me:

![analytics](https://cloud.githubusercontent.com/assets/574453/8931553/7b822304-3537-11e5-8ce9-2e19ea5aa850.png)

[2015-07-28 12:50] nickredmark commented on #44
Tested both on my local machine (ubuntu) and my server (debian), no analytics.

[2015-07-28 12:53] tsemana commented on #44
That's baffling. I cloned your repo and it worked for me:

![screen shot 2015-07-28 at 8 50 11 am](https://cloud.githubusercontent.com/assets/573540/8931683/0f74fbcc-3506-11e5-9853-fb40f19ca12f.png)

[2015-07-28 12:57] nickredmark commented on #44
Completely reinstalled meteor, still nothing.

[2015-07-28 13:06] nickredmark commented on #44
I tried on a completely fresh meteor install on a friend's laptop and it works.

[2015-07-30 04:33] adamgins opened #45 "The publish function wipes out other projections I have"
The publish Users function, uses the following projection:

[code]

https://github.com/okgrow/analytics/blob/master/lib/server/publications.js

For example, if I had to get `services.facebook.<some other attribute>`

I need to get additional fields for my user record, so this publish wipes them out.

Is there some way to workaround this please?

[2015-07-31 10:48] tomwasd opened #47 "Initialisation/timing issues?"
Hi,

Firstly, great package - thanks a lot for making it.

I'm using the package with Flow Router 2.0.0 as per the PR I submitted so apologies in advance if this issue is specific to that although I think it might apply to older versions of Flow Router too.

There seem to be two issues/bugs:
1. On initial page load analytics.js doesn't seem to have initialised and so the first page view isn't trac

[2015-07-31 13:44] tsemana commented on #45
@adamgins - thanks for pointing this out. We think it might be a bug in how meteor handles sub-documents specified in separate publications. I'm going to create a meteorpad and submit a bug on meteor.
In the meantime unfortunately it looks like you might need to include the package source in your codebase and modify it to remove the facebook field from the package and ensure you include `services.

[2015-07-31 13:45] tsemana commented on #44
@nicolamr - any progress on your issue?

[2015-07-31 13:47] tsemana commented on #47
@tomwasd - thanks for pointing this out and for the PR, we'll take a look at both asap.

[2015-07-31 13:55] adamgins commented on #45
@tsemana thanks. yep had already copied the package and hacked it.

I think this is how Meteor just works/should work (I may be wrong/too accepting)... I had a similar issue the other day where I could not understanding why I had a publication that published some fields, yet they weren't on the client. The reason is I was publishing the same document via another subscription and it was overwriting

[2015-08-04 06:33] cpury commented on #31
@tsemana better add it to the readme! :) Aside from the example and the commit message I wouldn't have figured out that there's flow router support.

[2015-08-04 07:20] cpury commented on #31
Sorry, one more question. I'm trying to get this to run with Flow-Router. When debugging, I can see all the events I manually track with `analytics.track()`, but Flow routing changes don't seem to trigger anything.

Did I miss a step? It seems in the example you're not doing anything special to get it to run automatically with flow router...

[2015-08-07 14:29] tsemana commented on #44
@nicolamr - this sounds like an environment-specific issue. Closing it for now.

[2015-08-07 14:29] #44 closed, assigned to nobody

[2015-08-07 15:41] nickredmark commented on #44
Yeah, sorry, didn't get to look back into it yet. I'll check if
analytics works with other modules first.
Thanks for your help.

On 07.08.2015 16:29, tsemana wrote:

[2015-08-25 10:16] Maxhodges opened #50 "can i put google tag manager snippet in here somehow?"

[2015-08-28 20:21] wehrlock commented on #47
For second issue, how about overriding the analytics data for title and path using the router context?

[code]

[2015-09-23 17:59] deanrad commented on #50
I think typically that goes in the layout of your page, wherever you choose to least impact loading times for your users. This package wouldn't do that for you.

[2015-09-23 17:59] #50 closed, assigned to nobody

[2015-09-23 18:01] deanrad commented on #38
Sorry for the delay - I assume you've figured out something by now - would you mind sharing it ?

[2015-09-23 18:03] deanrad commented on #36
I guess I'm late to the party on this one - what is Extractor ?

[2015-09-23 18:05] deanrad commented on #45
I don't know if there's anything we can do about this - short of detecting existing publications and merging them ? I don't know if that's a) possible or b) a widespread problem. But I agree that it's an issue.

[2015-09-23 18:09] thomasspiesser commented on #38
hey, no problem. actually i haven't..

[2015-09-23 19:42] deanrad commented on #38
So, the question is -how, with this package, does one get access to the `ga` object that analytics.js usually exposes ? Good question :)

[2015-09-24 16:00] dkleiman opened #54 "How can I send the userId to Google Analytics?"
I've set up a dedicated userId view in Google Analytics (GA), yet I haven't been able to see any activity from logins and logouts even though the package automatically calls identify with the userId. I suspect this is because analytics.js doesn't automatically send any user info to GA on identify. Has anyone managed to do this?

I'm also using the GA debugger extension for Chrome, and it looks lik

[2015-09-26 15:53] pauldowman commented on #54
I think analytics.js does send use rid info to Google on identify. The most recent version does anyway.

Can you give us steps or ideally sample code to easily reproduce it?

[2015-09-26 19:28] dkleiman commented on #54
I just set up a dedicated view in Google Analytics to view user data, and since the package automatically calls identify on login, I figured I would start seeing data in the Realtime reporting tab in GA when a user logs in. Since that didn't work, I tried calling <code>identify</code> setting <code>{integrations:{"Google Analytics": true}}</code> in the callback of the <code>Meteor.login</code>, b

[2015-10-01 17:09] DaxChen commented on #41
Before this is implemented officially, how can I use events to track user sign up?
Accounts.onCreateUser is only fired on server, is there a way to use analytics on server too?
Or is there another hook I can use on the client to track user signup?
Thanks!
Dax Chen

[2015-10-01 18:41] elie222 commented on #41
See this: https://github.com/meteor-useraccounts/core/issues/467

[2015-10-01 18:57] DaxChen commented on #41
Thanks!!

[2015-10-03 07:46] PEM-- opened #55 "FlowRouter SSR support"
The SSR release of FlowRouter should be added.

[2015-10-03 07:59] PEM-- commented on #55
Done in #56

[2015-10-09 18:21] redwraith2 opened #57 "Publication Conflicts With User Services Publications - Breaks App For Facebook"
https://github.com/okgrow/analytics/blob/master/lib/server/publications.js

The publications page is a serious issue for anyone who requests data because of this issue:
https://github.com/meteor/meteor/issues/3764
I can't request anything from 'services.facebook' or 'services.instagram' at all because of this.

It breaks the avatar package, as well as blocking me from being able to get social info

[2015-10-10 00:04] jfly commented on #57
A _BIG_ :+1: on this. It took me a very long time to figure out why I was having trouble publishing any information from the `services` subdocument.

[2015-10-12 15:16] pyankoff opened #58 "FlowRouter doesn't track first pageview"
Seems like router calls `analytics.page(page.name, page);` before initializing analytics. Is it ok to fix it with timeout?

[code]

[2015-10-12 17:15] yim1990 commented on #58
+1

[2015-10-14 21:22] pauldowman commented on #58
Thanks, we'll take a look as soon as we can.

[2015-10-14 21:40] pauldowman commented on #57
Yes. Let's brainstorm solutions. Any ideas? Can/should we publish those emails under some other publication? Or make it optional?

[2015-10-14 21:50] pauldowman opened #59 "Reduce the download size by trimming unused integrations"
We should trim out the non-relevant parts of analytics.js, it's modular and we only care about a small number of the integrations.

[2015-10-14 23:04] jfly commented on #57
Opting out sounds simplest, and would definitely work.  Just making another subscription won't help, right? Or were you suggesting publishing to client side collection that isn't `Meteor.users`? My understanding is that the `Mongo.Collection._publishCursor()` method described [here](https://medium.com/@MaxDubrovin/workaround-for-meteor-limitations-if-you-want-to-sub-for-more-nested-fields-of-alrea

[2015-10-17 21:17] idmontie commented on #57
:+1: Just ran into this problem after spending quite a bit of time trying to debug it.

I have the following code on in my server folder:

[code]

I can see that this works by running `Meteor.user().services.github.username` in the browser.

When I add this package, the username is no longer available on the browser.

[2015-10-20 05:53] dan335 commented on #45
The meteor docs talk about this under Meteor.subscribe.  Here's a workaround.

[code]

Publish from users to a client only collection.

[2015-10-20 17:29] jkatz50 commented on #58
+1

[2015-10-20 19:25] benstr commented on #45
Awesome, thanks @dan335. I am planning to tackle this issue soon. But if you beat me to it just send a PR and I will make sure to get it merged.

[2015-10-20 19:49] karldanninger commented on #55
Closing this. Thank you so much for https://github.com/okgrow/analytics/pull/56 @PEM-- <3

[2015-10-20 19:49] #55 closed, assigned to nobody

[2015-10-20 19:50] PEM-- commented on #55
My pleasure. Thanks for this nice project.

[2015-10-24 22:03] ryanbuiltthat opened #63 "Can't get Google to recognize tracking"
I don't know if I missed a step or something but has anyone had any issues with Google taking a while to recognize tracking is installed?

When I run the analytics debugging Chrome extension I see the initialization of `ga` and the creation of a tracker all with the proper ID. I see the events being fired off but my dashboard still shows nothing and says it's not installed.

[2015-10-26 13:21] ryanbuiltthat commented on #63
GA picked up tracking ID, just need more patience.

[2015-10-26 13:21] #63 closed, assigned to nobody

[2015-10-26 19:10] neywen opened #64 "problem with Amplitude integration in Segment"
I have included okgrow:analytics in my meteor project. Using the right Segment.io appKey, I can see all the tracked events in the Segment debugger in real time. great.

Amplitude integration is enabled in the Segment dashboard.
But I can not see any events reported in Amplitude. It keeps saying "no data".

If I deactivate the okgrow:analytics package, and include the Segment javascript initializat

[2015-10-26 22:26] pauldowman commented on #59
This would also cause us to update to the latest analytics.js.

[2015-10-26 22:30] pauldowman commented on #64
Honestly I don't think we'll get to this because we just don't have time to test and fix every possible integration. If you find the issue I'd love a PR.

But I'm thinking it might be due to analytics.js needing an update perhaps? See also #59 where we want to remove all but the most common integrations, which would also cause us to update to the latest analytics.js right now. Do you want to take

[2015-10-27 14:11] neywen commented on #64
Thank you for your message.

I've send the PR, which simply includes the last version of the lib analytics.js (2.11.1 against 2.5.2 if I remember correctly).
It writes an additional "page" field in each event data context, and that seems to be the issue to get the Amplitude integration work properly.

[2015-10-27 14:52] pauldowman commented on #59
What should the supported integrations be? I propose:
1. Google Analytics
2. Mixpanel
3. Segment
4. Kissmetrics
5. Keen.io
6. Amplitude
7. Chartbeat
8. Intercom

[2015-10-28 15:09] hafizali05 opened #66 "Exception in onLogin callback: ReferenceError: mixpanel is not defined"
I am new to meteor stuff as well as analytics so sorry if I dont get some common sense stuff here :)

SO I am trying to create a server side event to track the signup through facebook and google and if done with password than password.

I have installed okgrow package and when I try to track the properties I am unable to track services(fb or google) and roles which are user properties.

Also the m

[2015-10-28 17:29] #45 closed, assigned to benstr

[2015-10-28 19:48] benstr commented on #66
@hafizali05 this package actually wires all user identification up for you. Just include your mixpanel key in `settings.json` and your app will automatically call the identify function when a user logs in.

The `mixpanel is undefined` is from you calling `mixpanel.register` in your code. Mixpanel is not available to you, instead we do everything through the `analytics` global. Refer to the analyti

[2015-10-28 19:48] #66 closed, assigned to nobody

[2015-10-28 20:04] benstr commented on #57
solution will be published in the next release.

https://github.com/okgrow/analytics/pull/61

[2015-10-28 20:12] benstr commented on #38
@thomasspiesser give this a try:

[code]

Reference: https://github.com/segmentio/analytics.js/commit/ef43fa11c3108c6360bd952ede34aaae661bc6ab

[2015-10-28 20:13] benstr commented on #38
@thomasspiesser give this a try:

**settings.json**

[code]

Reference: segmentio/analytics.js@ef43fa1, https://github.com/segmentio/analytics.js/blob/master/analytics.js#L12889

[2015-10-28 20:16] idmontie commented on #57
:+1: Awesome!  Any timeframe on that?

[2015-10-28 20:19] benstr commented on #57
Soon, this package is getting some much needed lovin this week. But in the meantime feel free to download it and manually add it to your `/packages` folder. Let us know if you find any other issues.

[2015-10-28 20:40] benstr commented on #42
Interesting I can see how this could be useful but it looks like the discussion already happened on the analytics.js repo. https://github.com/segmentio/analytics.js/pull/353

But since we control automatically calling `analytics.page()` then we should add something allowing the page function to be disabled... let me whip something up...

[2015-10-28 21:14] benstr commented on #54
@dkleiman thanks for all the research. It turns out this option can be configured through your settings.

[code]

Reference: https://github.com/segmentio/analytics.js/blob/master/analytics.js#L12900

[2015-10-28 21:14] #54 closed, assigned to nobody

[2015-10-28 21:14] #38 closed, assigned to benstr

[2015-10-28 21:22] benstr commented on #42
oops, just realized that link is from the wrong repo... diving more into this now.

[2015-10-28 22:04] pauldowman commented on #59
I added a branch for this: https://github.com/okgrow/analytics/tree/remove-integrations The supported integrations are documented in the readme (the list is slightly different from above).

I haven't tested it yet, will do then merge and release a new version.

[2015-10-29 00:40] #42 closed, assigned to nobody

[2015-10-29 01:55] pauldowman commented on #47
I'm confused about the status of this. It sounds like a bug, or two bugs, but it's labeled "question".

Is the second issue closed? And the first one still open?

I'm going to remove the "question" label.

[2015-10-29 02:23] pauldowman opened #68 "Fix example apps"
The example apps need some work, at least:
1. The `/` route is missing
2. They need accounts-password, accounts-facebook, accounts-google and accounts-github to test identify

[2015-10-29 02:45] pauldowman commented on #59
Done. The supported integrations are documented in the README.I hope we didn't remove anything that lots of people were using. :cold_sweat:

Version 1.0.0 is released.

[2015-10-29 02:45] #59 closed, assigned to pauldowman

[2015-10-29 04:26] benstr commented on #58
So we have a race going on. Right now FlowRouter initializes and runs the first route before Analytics initializes. Luckily FlowRouter provides `FlowRouter.wait()` and `FlowRouter.initialize()`. I started playing around with this and should have a solution soon.

[2015-10-29 09:48] hafizali05 commented on #66
so this would include segment.io to be used right?

anyway around to use mixpanel without segment.io?

[2015-10-29 10:23] tsemana commented on #66
@hafizali05 this package doesn't require you to use the segment.io service.  It uses segment.io's analytics.js library to provide a uniform api for all analytics calls.

For you to use your mixpanel service, make sure you configure your mixpanel details in your `settings.json` file (see the Configuration section in the Readme: [Configuration](https://github.com/okgrow/analytics#configuration)):

[

[2015-10-29 12:31] thomasspiesser commented on #38
hey ben,
thanks for the response.
cheers,
thomas

[2015-10-29 13:22] benstr commented on #47
This is a dup (or the other is a dup) of #58. @pauldowman I am working on a solution that will cover both issues.

[2015-10-29 13:24] hafizali05 commented on #66
one last question and probably I will b done, does analytics.track() work on server side too?

[2015-10-29 13:26] benstr commented on #66
@hafizali05 just client side

[2015-10-29 14:04] #57 closed, assigned to benstr

[2015-10-29 23:01] benstr commented on #64
Closed #65

[2015-10-29 23:01] #64 closed, assigned to pauldowman

[2015-10-29 23:03] benstr commented on #68
Fixed in #69

[2015-10-30 02:32] #47 closed, assigned to nobody

[2015-10-30 02:36] benstr commented on #58
#69 fixed this issue. look forward to a new app on atmosphere soon.

[2015-10-30 02:36] #58 closed, assigned to karldanninger

[2015-10-30 02:37] #68 closed, assigned to nobody

[2015-10-30 02:51] pauldowman opened #70 "Allow adding only specific integrations"
It should be possible to split this into multiple packages, e.g. okgrow:analytics-google, okgrow:analytics-mixpanel, etc.

I haven't investigated but we could probably split out the integrations from analytics.js into separate packages.

Note that I've tested it and we would only save about 40k currently. Less if you use more than one integration.

[2015-10-30 03:01] pauldowman commented on #64
Version 1.0.1 released. @neywen let me know if that doesn't work for you!

[2015-10-30 03:01] pauldowman commented on #58
Version 1.0.1 released.

[2015-10-30 03:02] pauldowman commented on #57
Version 1.0.1 released.

[2015-10-30 03:02] idmontie commented on #57
:+1: :tada:

[2015-10-30 03:02] pauldowman commented on #47
Version 1.0.1 released. This problem should be fixed, let me know if you still see it.

[2015-10-30 19:02] juliomac opened #71 "Version constraint - Can't update okgrow:analytics 0.4.3"
Can't update this package. I get the following message:

[code]

I tried the suggested action with `meteor add okgrow:analytics`and got this message:

[code]

What could the version constrain be coming from?

I am on Meteor 1.2.1 and have all other packages updated as well.

[2015-10-30 20:57] tsemana commented on #71
@juliomac could you clarify: did you remove the current package first with `meteor remove okgrow:anallytics` before trying to run `meteor add okgrow:analytics`?

[2015-10-30 21:38] pauldowman commented on #71
Try `meteor update okgrow:analytics`.

[2015-10-31 13:44] juliomac commented on #71
Hi @tsemana. Thanks!

No I haven't removed. Now I did and added again. Got 1.0.1 working fine!

Silly I didn't think of it. It should have been the late hours work...

[2015-10-31 13:44] #71 closed, assigned to nobody

[2015-10-31 13:46] juliomac commented on #57
Thanks! Updating to 1.0.1 also solved for me!

[2015-10-31 20:49] tsemana commented on #71
@juliomac glad that fixed it.

[2015-11-01 10:50] hafizali05 commented on #66
@benstr  cant we use analytics-node npm for the server side?

[2015-11-02 21:34] came opened #73 "ga on server side for webhooks API"
Hi folks,

are there plans (is it possible) to use the package on the meteor server side?
I am having a small  (webhook) API, exposed for mailgun and I want to track some events on ga.
Does this make sense, has anyone tried this?

BR, Carsten

[2015-11-04 19:35] benstr commented on #73
@came there are no plans to make this package work server side. Sorry

[2015-11-04 19:35] #73 closed, assigned to nobody

[2015-11-04 21:30] benstr opened #75 "Tag 1.0.2 is orphaned from master branch"
This commit (https://github.com/okgrow/analytics/commit/651ce8e56406e702ede96d7186083c3951e5eb9b) and associated tag (1.0.2) are not included in any branch. @pauldowman I never ran into this before. Can we just make a new commit on `master` bumping the version?

[2015-11-05 00:17] pauldowman opened #76 "Allow server-side analytics"
Currently we use Segment's open source [analytics.js](https://github.com/segmentio/analytics.js) library, which I don't think would work server side. I haven't investigated how we would make it work but it would be great to be able to log events on the server side too.

[2015-11-05 00:20] pauldowman commented on #73
@came I added a new issue, #76, for that. The problem is that we use analytics.js which is client-side only, but if anyone wants to discuss it #76 is the place.

[2015-11-05 00:30] pauldowman commented on #76
I think the best option would probably be to add something separate server-side that mimics the same API (`analytics.track()`). I doubt we'd find something cross-platform that supports all of the integrations though (which might be a good thing anyway since we want to split them out into multiple packages.

It might not be a bad idea to start with just GA and Segment.

[2015-11-05 00:54] pauldowman commented on #75
Thanks, I had forgotten to push.

[2015-11-05 00:54] #75 closed, assigned to pauldowman

[2015-11-05 02:29] pauldowman commented on #66
@hafizali05 I think that's for the Segment service only.

[2015-11-11 18:50] themeteorchef opened #77 "Is revenue tracked?"
I'm playing with adding the `revenue` property to events along with Mixpanel, however, no revenue data is showing up on Mixpanel. Is this passed along? Note: I'm adding Mixpanel directly through the package and not adding it to Segment. An example event:

[code]

The event _does_ show up on Mixpanel, but just as an event for the user. The revenue data shows up in the event data but is not acknowle

[2015-11-11 18:51] themeteorchef commented on #77
I lied. Literally just flipped over and tried again and it showed up. Ignore me :)

[2015-11-11 18:51] #77 closed, assigned to nobody

[2015-11-11 19:12] karldanninger commented on #77
:heart:  :+1:

[2015-11-18 09:15] sf-wind opened #78 "Different tracking IDs for cordova apps?"
Is there a way to specify a different tracking ID for android and IOS apps?

Thanks.

[2015-11-18 10:30] ghost commented on #63
I'm having the same issue as you did.

I installed and configured the package about an hour ago. The Chrome extensions reports the "ga" initialization, but still, no views are being shown on the real-time tab of the Analytics reporting dashboard.

How much time did it take for you for the real-time visits count to be shown?

[2015-11-18 15:04] ryanbuiltthat commented on #63
Not sure exactly. It was late, I checked it in the morning and everything
was working fine and has been.

On Wed, Nov 18, 2015 at 5:30 AM, gatosaurio notifications@github.com
wrote:

[2015-11-18 17:16] karldanninger commented on #63
@gatosaurio for me, it can take anywhere from 24 hours to 72 hours. Usually closer to 24 hours. I hope that helps

[2015-11-20 06:08] natecox commented on #44
I'm having the same issue. Installed the package and analytics is not defined. No data is being pushed to google analytics, either.

[2015-12-01 15:50] jorisroling opened #79 "Facebook "Conversion Tracking" & "Custom Audiences" Integrations"
How would I configure for the 2 facebook integrations in segment?
I don't know if it is possible, but if it is, what whould be the entry format of the **analyticsSettings** object in **settings.json**.

[analytics.js-integration-facebook-conversion-tracking](https://github.com/segment-integrations/analytics.js-integration-facebook-conversion-tracking)
[analytics.js-integration-facebook-custom-audi

[2015-12-10 00:34] morgunder opened #80 "question: does this work with the meteor angular router too?"

[2015-12-10 02:37] pauldowman commented on #80
No it doesn't.

[2015-12-10 02:37] #80 closed, assigned to nobody

[2015-12-10 03:32] AndreasGalster opened #81 "Add a list of supported services"
It is not clear which services are supported by the package. I'm not 100% sure if htojar for example is supported. The list on atmosphere might suggest this is what is supported but it's not exactly clear. Looking at the package code also doesn't make it very easy to find what is supported unfortuantely.

[2015-12-13 00:30] RobinVanCauter opened #82 "Override default Flow Router routing event"
I was wondering if it's possible to override the default Flow Router page view event?
If so, how would one go about doing this?

We would like to add some extra fields to the default object being sent to the analytic API?

Thanks in advance!

[2015-12-16 11:48] levino opened #83 "Heapanalytics?"
Very good library. What about heap? Is it supported? How to activate?

Thanks

[2015-12-17 01:55] pauldowman commented on #83
Not yet. Let's see how many +1's we get here. :smile:

[2015-12-17 01:57] pauldowman commented on #81
The example config in the readme is the actual list. We should update it to make that totally clear. If there's something else you'd like to see supported open an issue and we'll see how many +1's it gets.

[2015-12-17 02:03] pauldowman commented on #79
Those aren't supported, and they're not for event tracking so I don't think they should be. I'd like to enhance this package to support adding anything that's supported by segment, but as it is each integration adds a small amount of overhead so I wouldn't add anything but the most popular event tracking services.

[2015-12-17 02:03] #79 closed, assigned to nobody

[2015-12-17 02:06] pauldowman commented on #78
I don't think so. It's set via Meteor.settings. Perhaps you could do something hacky like set it from your client code. I'm not sure if that actually works, I've never tried it, but you could try.

[2015-12-17 02:06] #78 closed, assigned to nobody

[2015-12-17 02:09] pauldowman commented on #82
Unfortunately I don't think it would be possible without some refactoring.

[2015-12-17 02:09] #82 closed, assigned to nobody

[2015-12-17 02:11] pauldowman commented on #44
@natecox Did you get it figured out? Or can you provide us with a way to reproduce it?

[2015-12-17 07:31] levino commented on #83
Could you give me just a quick intro where I have to start this, then I would maybe open a PR.

[2015-12-17 17:02] sferoze opened #84 "How can I control parameters sent with identify?"
I want to see what parameters are sent with identify call. I also want to add some custom params to the identify call. How can I do this?

[2015-12-17 18:26] pauldowman commented on #84
Similar to #82, it's not supported right now and would require a bit of refactoring. I think we would accept a PR, but I'd want to discuss the proposed solution a bit.

[2015-12-17 18:26] #84 closed, assigned to nobody

[2015-12-18 02:31] pauldowman commented on #83
The question is more like do enough people want it included. Every additional integration adds a small amount of overhead. I'd like to hear other opinions.

As for how... we have a fork of Segment's analytics.js repo, where we keep a branch that's modified to include only our supported integrations: https://github.com/okgrow/analytics.js/commits/okgrow-supported-integrations  We build that and the

[2015-12-18 18:12] sferoze opened #85 "How do I turn on Mixpanel integration if I am only using segment.io?"
I am using this package as well as segment.io

Using segment.io we want the data to go to mixpanel

why do I have to add mixpanel keys in addition to segment keys?

When I only add the segment keys mixpanel does not get data even though it is turned on inside segment.

But I should only have to add segment keys.

Once I add segment keys is there a way I can use segment to send data to mixpanel?

[2015-12-18 18:16] sferoze commented on #85
Basically in the identify call

[code]

can we set the integrations? is the default all true?

[2015-12-18 20:03] pauldowman commented on #85
If you have a segment account I think you should be able to just configure this package to use segment, you don't need to configure it with your Mixpanel and KISSmetrics keys. Like so:

[code]

Then in segment you can set up the mixpanel integration. I think that's all you need to do. This means the only client-side integration is segment, and server-side (in segment) you can send the data on to M

[2015-12-18 20:03] #85 closed, assigned to nobody

[2015-12-18 20:18] sferoze commented on #85
@pauldowman Unfortunately this does not work. At first I only added segment. But the info was not sent over to Mixpanel even though mixpanel was turned on I had set the API keys correctly in segment.

Could it be related to this: https://segment.com/docs/libraries/analytics.js/#selecting-integrations

I think you need to set integration key to all in the identify call. Otherwise segment gets the d

[2015-12-27 17:08] Mardaneus86 opened #86 "Prevent page tracking in specific integrations"
I would like to be able to prevent page tracking to specific services. For example to reduce the amount of data points on Mixpanel to the strictly necessary ones, I'd like to prevent page views to be sent to that service. This way I can track only the essential events in services like Mixpanel and still use Google Analytics for page tracking.

The Segment API provides this with the `options` argum

[2015-12-27 17:24] Mardaneus86 commented on #86
Just found out that I can prevent page tracking in Mixpanel by including this option to the Mixpanel integration settings by looking at the [analytics.js](https://github.com/okgrow/analytics.js/blob/okgrow-supported-integrations/analytics.js#L11029) file:

[code]

This property is available on 5 integrations: Amplitude, GA, Keen, KISSmetrics and Mixpanel.

[2015-12-27 17:24] #86 closed, assigned to nobody

[2015-12-29 17:29] AndreasGalster opened #87 "Add support for hotjar"
Hotjar is pretty useful for heatmaps/funnel/recordings & customer feedback. I'd say it's one of the bigger ones out there for those usecases. Any +1's?

[2016-01-08 08:59] d4nyll opened #88 "Amplitude not working"
When I tried to add my Amplitude API key, it comes back with the error:

[code]

My API key is correct, and I have **_not**_ added it as an integration on Segment.io

My `settings.json` looks like this:

[code]

[2016-01-11 13:41] elie222 opened #89 "Disabling auto page view logging"
Hi,

I'm putting this out here as a feature request. I may implement this myself at some point and make a pull request. Let me know if a pull request offering the following would be accepted:

I'd like to have finer control over page view logging. There are redirect pages I use that are currently being logged as page views. Also, sometimes the url changes, but it's not really a change of page - th

[2016-01-11 15:48] kidsil opened #90 "SalesForce?"
Is adding SalesForce in the future? KissMetrics is quite similar in a way...

[2016-01-11 16:52] kidsil opened #91 "Please change Keys to lowercase & dash-separated"
When Meteor is bundled, settings keys have their spaces removed. This means Google Analytics will become GoogleAnalytics (and thus won't work).

This can be easily avoided by having the keys look like keys, i.e. lowercase & dash-separated

[2016-01-13 16:19] molinto opened #92 "Please add calq.io support"
Please add calq.io support

https://calq.io
Thanks

[2016-01-13 16:33] molinto commented on #88
I get the same error too, trying to follow this tut:
https://themeteorchef.com/blog/tracking-user-behavior/

[2016-01-15 23:49] pauldowman commented on #91
@kidsil I haven't seen that. Can you give me steps to reproduce it?

[2016-01-16 07:23] kidsil commented on #91
Simply add Google Analytics to the settings. json file, bundle your Meteor
application (the bug doesn't appear on "meteor run", only when the
application is deployed).
The issue is that when the public settings get minified, the spaces are
getting dropped.

I'm running the bundled application behind nginx (just in case that helps).

On Sat, Jan 16, 2016, 00:49 Paul Dowman notifications@github.com

[2016-01-19 16:53] pauldowman commented on #91
@kidsil I'm sorry but I really don't understand. By "bundle" I'm assuming you mean `meteor build`, and I'm pretty sure that the built meteor app wouldn't include the settings.json file. It shouldn't anyway, your settings are for runtime configuration.

I'm going to close this for now, but please do explain and we can reopen if I can understand the scenario.

[2016-01-19 16:53] #91 closed, assigned to nobody

[2016-01-19 16:57] pauldowman commented on #89
We've heard this a few times. I think we would consider a PR if it didn't add much complexity overall and didn't affect usage in the normal case.

[2016-01-19 16:59] pauldowman commented on #88
It looks like the key in the settings object should be 'apiKey' (note the capitalization). See [here](https://github.com/okgrow/analytics.js/blob/okgrow-supported-integrations/analytics.js#L7246). Try that and I'll update the README.

[2016-01-20 14:35] molinto commented on #88
Seems to work for me. Thanks Paul :)

[2016-01-31 08:29] PeterChauYEG opened #93 "Absolute positioned link elements' event triggers break on iOS"
I encountered a bug which occurs when this package is installed (using `meteor add okgrow:analytics`). It seems that upon installation, my link elements' event triggers stop working on mobile (iOS Chrome and Safari). I believe it only affects elements which are absolute positioned (`position: absolute;`).

There is no apparent change on a desktop browser.

I'll let you know if I can figure it out.

[2016-02-04 13:27] pauldowman commented on #93
Thanks @PeterChauYEG and @RobertLowe, we'll check this out ASAP.

[2016-02-08 00:20] cellulosa commented on #44
Same here. I'm running meteor as a service configured via `/etc/systemd/system/meteor.service`:

[code]

Any idea?

[2016-02-08 12:17] cellulosa commented on #44
I fixed it removing the `METEOR_SETTINGS` line and using [commerce:env-settings](https://github.com/4commerce-technologies-AG/meteor-package-env-settings)

[2016-02-11 16:59] sylverfyst opened #95 "Question: How to display tracked data in web app?"
Is there a better way to do this than storing the data in an array like the emitter example?  I'm trying to implement a dashboard feature where users can track how much attention their listing is retrieving and the tracking is great, I'd just like to be able to send that info back to the web app

[2016-02-12 19:17] rfines commented on #95
+1 I would be really interested to know the answer to this as well. I imagine it will be a separate integration with the Google Analytics API since this package seems to only include and initialize the scripts to do the tracking and stuff and does not seem to have any of the actual API's integrated.

[2016-02-12 19:27] sylverfyst commented on #95
I did find a little bit of a work around, in that I wrote a custom callback on page calls, to store tracking data in the app, but what I would really like is for there to be a request that returns the data from the tracking service in a readable format.  I'm working in meteor, so mine looked a little like this:
`analytics.page('listing', listingId, {
        title: listing.title,
        id: listi

[2016-02-16 15:24] danielsvane commented on #89
I made a pull request which fixes this issue: #96

[2016-02-16 19:46] charleshan opened #97 "Intercom 403 Errors"
`https://api-ping.intercom.io/vjs/users/ping Failed to load resource: the server responded with a status of 403 (Forbidden)`
`https://api-iam.intercom.io/vjs/users/events Failed to load resource: the server responded with a status of 403 (Forbidden)`

[2016-02-16 20:27] charleshan commented on #97
It seems to be related to this: https://segment.com/docs/integrations/intercom/#secure-mode
Does this package not have this integrated?

[2016-02-24 16:08] AlexanderPD opened #98 "Analytic and EU Cookie law"
i think we all agree that EU cookie law is one of the dumbest thing humanity have ever do, but we need to deal with it.

I need a way to manually disable analytic until user accept the cookie law, something like an helper or a per-user setting to enable/disable analytics.
I will record the user "agree for cookie" in a cookie that will expire in 1 year (the maximum time span law-friendly i can use)

[2016-02-25 03:00] charlottetan opened #99 "Use https endpoints instead of http"
Several external scrips are loaded via http instead of https and this could compromise production apps, as well as cause browsers to display warnings about pages being insecure

[2016-02-26 18:14] karldanninger commented on #97
Hey @OminStyle, our analytics.js port may be out of date. I'll label this and take a look at this as soon as we can!

[2016-03-01 15:23] pauldowman commented on #95
I think this is outside of the scope of this package. Some analytics services let you query the data that you put in, I think that's the way I would do this.

[2016-03-01 15:23] #95 closed, assigned to nobody

[2016-03-05 17:28] abdelrahman-elkady commented on #89
+1 here, don't need to track everything and exceed my mixpanel plan as a student doing my research, would be great if merged soon

[2016-03-05 17:31] elie222 commented on #89
Abdel, you can use the pull request already. Create a packages folder in
your app and then git clone the git repo containing the pull request to it.
If you then run meteor list in the command line, you should see that okgrow
analytics has a plus sign next to it and is a local package.
On 5 Mar 2016 19:28, "Abdelrahman Elkady" notifications@github.com wrote:

[2016-03-05 17:33] abdelrahman-elkady commented on #89
:+1: yes that would be great, thanks a lot

[2016-03-12 01:26] #93 closed, assigned to nobody

[2016-03-15 11:16] KristerV commented on #54
does this send the Meteor.userId() automatically then?

[2016-03-16 11:14] arthuryeti opened #100 "FlowRouter with custom integrations never track page"
Hi guys,

I'm working with FlowRouter and I built my own version of analytics.js with the integrations that I need. (adroll, drip, google analytics, hellobar, olark). It's working well with the 0.4.3 with the timeout hack to initiate, but when I upgrade to the last version. It seems to never trigger the ready event. Do you have any idea?

Thanks

[2016-03-23 18:10] ipa1981 opened #101 "Not tracking initial page load"
Hi, I've realized that first page load for some reason is not tracked in Google analytics. The pageview tracked only on route change. Is it something with my configuration or a common issue? I'm using  SSR, maybe this is somehow cause of the problem?

[2016-03-24 17:07] chmac commented on #87
:+1:

[2016-04-05 12:03] danielparas opened #102 "Multiple domain tracking GA"
Hi, first of all thanks the great plugin!

Is there a way to setup multiple domain tracking for google analytics using this plugin? [GA docs](https://support.google.com/analytics/answer/1034342) mention modifying the script.

Thanks in advance
Daniel

[2016-04-05 19:55] kartikTT commented on #97
Any update on this? Seeing the same issue

[2016-04-05 20:16] elie222 opened #103 "Incorrect Intercom tracking info"
Hi,

I get faulty information in my Intercom dashboard. Intercom is telling me I haven't been on my site for 48 hours or so when in fact I just visited it and have done so multiple times over the past 48 hours.

My own analytics and Intercom's are very far apart. Any ideas why this could be happening? Could it be a bug with this package, or something else?

Furthermore, I also use the following co

[2016-04-11 18:18] #88 closed, assigned to nobody

[2016-04-11 18:53] benstr commented on #89
PR #96 has been merged, closing this issue.

[2016-04-11 18:53] #89 closed, assigned to nobody

[2016-04-11 18:54] benstr commented on #98
Welcoming PRs for this issue.

[2016-04-11 19:01] benstr commented on #100
@Atu do you have an example app we can use to verify?

[2016-04-11 19:03] benstr commented on #101
@ipa1981 can you provide an example repo demonstrating the issue? Thanks!

[2016-04-11 19:51] benstr commented on #102
@danielparas since we have not gotten multiple requests for this feature we will likely not develop it. If you have a solution please submit a PR :)

[2016-04-11 19:51] #102 closed, assigned to nobody

[2016-04-11 20:03] benstr commented on #103
I suspect this is the same issue as #97. We have this package on our schedule to update soon.

[2016-04-13 07:31] zhaoyao91 opened #104 "how to define customized user fields?"
you just set email, but we want to set phone and other fields of user. how should we do?

[2016-04-15 11:52] joncursi opened #105 "Disable In Development?"
Is there an easy way to disable this package from executing in development? Browser reports the error

[code]

but I do not want tracking in dev.

[2016-04-18 10:08] ipa1981 commented on #101
@benstr I've checked it again - and it now works. Maybe something has been updated during that month. Closing issue

[2016-04-18 10:08] #101 closed, assigned to nobody

[2016-04-23 13:55] mlecoq opened #106 "Meteor 1.3"
Does anyone know how we have to import analytics from okgrow ? This

[code]

does not work and I do not find any example.

I have the following issue in my console

[code]

on

[code]

Thanks !

[2016-04-25 11:31] rafa-munoz commented on #105
Which version are you using? I'm using `okgrow:analytics@1.0.5` and I don't get such a message.

Edit: OK, now I see it in the console, that's true. You can ignore it I guess!

[2016-04-25 11:35] derouck opened #108 "Analytics broken for Hubspot, Quantcast, Chartbeat, Comscore and KISSmetrics"
I tried to setup analytics with Google Analytics and Hubspot through the analytics. But for some reason which I don't get it Google Analytics is not receiving any data anymore once Hubspot tracking code is also setup.

If I leave out the Hubspot code from the settings then Google is working like a charm. Has anybody had this issue as well and is there a solution or is there a way to find out what'

[2016-04-25 13:34] rafa-munoz commented on #63
Now I see it's normal and I need to wait. Thanks.

[2016-04-26 07:07] joncursi commented on #105
Haha, I'm in my browser console 24/7 while developing, it's bothering me a bit there!

[2016-04-29 15:44] tjcampbell opened #109 "Event and pageView with auto tracking"
Hi Guys

Is it intended behaviour that this package logs both a pageView and a custom page view event on every page change with ga, flowrouter and autorun on? If so is there any way to disable one of them?

[2016-04-29 20:13] paulgrever opened #110 "Examples No Longer Exist"
The links in the Example Section, Iron Router: http://okgrow-analytics-iron-router.meteor.com/ and Flow Router: http://okgrow-analytics-flow-router.meteor.com/ no longer work. This is probably since Meteor moved to Galaxy.

[code]

[2016-05-05 04:10] banjerluke commented on #109
I was wondering this too... and I can't figure out why it's happening, not from the source code at least.

This function calls the page tracker for FlowRouter:
https://github.com/okgrow/analytics/blob/master/client/meteor-analytics.js#L127
...but not the event tracker as far as I can tell.

I actually came here to see whether I could disable the auto-tracking feature entirely as I want to customiz

[2016-05-05 23:53] carinakoo commented on #58
Hi guys. FYI this issue was still happening for me, but the culprit seems to be FlowRouter running the first route before the analytics enter trigger is defined. Using `FlowRouter.wait()` and `FlowRouter.initialize()` in meteor-analytics.js fixed it for me.

Repro steps:
1. Install Meteor Todos example app with okgrow:analytics

[code]
1. In the browser console, turn on debug.
   `> analytics.debu

[2016-05-12 14:32] dearlordylord commented on #106
Analytics seems to be defined globally for me (I use meteor 1.3.\* and latest analytics package)

[2016-05-12 14:32] dearlordylord commented on #106
Maybe it isn't initialised due to settings issue? (just a guess) try to print out your Meteor.settings

[2016-05-12 14:36] mlecoq commented on #106
Hi @Firfi ,

I don't have any settings issue. Are you able to import analytics with
 `import { analytics } from 'meteor/okgrow:analytics';`

After I added the code of this pull request : https://github.com/okgrow/analytics/pull/107
everything worked fine (and still in production)

If you have an example that works (with code that is not in client directory), I'd like to see it

[2016-05-12 15:56] dearlordylord commented on #106
I use it inside client dir actually. Didn't tried with imports so most probably it won't work there without your PR.

[2016-05-12 18:14] pablolarvor commented on #97
Hey ! Any update ? Same for me

[2016-05-15 10:12] pablolarvor commented on #97
You can fix it with this:

Client:

[code]

Server :

[code]

[2016-05-19 22:20] elie222 opened #111 "Not working"
I have no idea why it's not working for me. I have the same codebase running locally, and on two remote sites with different settings, but the only place it works is on one of the remote sites.

I've been sitting for a few hours trying to debug, as well as trying `analytics.debug()` and `analytics.debug(true)`, but nothing is working for me. It just doesn't send events to Google.

Any idea why it

[2016-05-21 21:55] elie222 commented on #111
The problem was me having analyticSettings defined twice in my Meteor settings file!!!

[2016-05-21 21:55] #111 closed, assigned to nobody

[2016-05-23 23:59] rgould commented on #105
@joncursi We do actually recommend using it in development, just with separate credentials pointing to test analytics accounts. That way your development environment mirrors production more closely.

That said if you still want to disable it, a workaround is to use a blank option in your `settings.json`:

[code]

Then it will load silently.

If there's more demand we'll try and come up with a more

[2016-05-23 23:59] #105 closed, assigned to nobody

[2016-05-24 00:00] rgould commented on #106
@mlecoq did you get it working with `import` with PR #107 ? When I tried it out, the imported value was always `undefined`, which makes sense as the module itself doesn't export anything. We'll be looking at refactoring it sometime soon.

[2016-05-24 00:02] rgould commented on #108
We'll try and take a look, but it sounds like it's maybe an [analytics.js](http://segmentio.github.io/analytics.js/) issue. I'd also triple check your `settings.json` file too!

[2016-05-24 00:03] rgould commented on #110
This was "fixed" by PR #112. For now we're removing them until we have more time to set them up again.

[2016-05-24 00:03] #110 closed, assigned to nobody

[2016-05-24 00:10] rgould commented on #104
I believe that you can specify any property that you want when you call an analytics function. For example:

[code]

I believe it's specific to which analytics tracker you're using (google analytics, mixpanel, etc). I would look at the (analytics.js)[https://segment.com/docs/libraries/analytics.js/] documentation for more info.

[2016-05-24 00:10] #104 closed, assigned to nobody

[2016-05-24 13:28] mlecoq commented on #106
@rgould yes I tried it and it works in production

Example of code I use:

[code]

And this event is displayed in mixpanel.

I thought that It was sufficient to have analytics as global variable. Am I wrong ?

(I trusted this : http://www.meteorpedia.com/read/Packaging_existing_Libraries - An even simpler solution section)

[2016-05-24 16:01] rgould commented on #106
@mlecoq Does it work if you leave out the import statement? (it does for me - `analytics` seems to always be available still)

[2016-05-24 19:51] markshust commented on #97
How can we contribute to this repo? The file `vendor/analytics.min.js` is minified. I'd like to fix this issue.

[2016-05-24 19:57] markshust opened #113 "Make autorun platform-specific"
I'd like to track page views with `autorun`, but only on specific platforms. For example, I don't want to send page tracking to Intercom, but I'd like to send it to Google Analytics.

We can keep the main `autorun` option for those that want to continue sending page tracking events to all services, but I think it would be great to make a platform-specific autorun option, that overrides the default

[2016-05-25 06:42] mlecoq commented on #106
@rgould you're right, import statement is not required to use analytics.

[2016-05-26 12:48] mlecoq commented on #106
@rgould finally, can we let it as it is for the moment ? You said that you'll refactor it soon. I can make an update in order to have an export with a good scope. It's up to you ;)

[2016-05-26 15:56] rgould commented on #106
@mlecoq an update would be welcome! It'll probably take us a couple weeks before we have the time to get around to refactoring

[2016-05-29 14:22] dnish opened #114 "Initial page view not tracked"
If I visit my site "www.myapp.com", Google Analytics doesn't show any user online. If I change the route from "/" to "/about", the visit is logged and I can see 1 user online. I'm using FlowRouter + React + Meteor 1.3. Any idea why the first page view isn't tracked? The issue doesn't depend on the route, so if I start on "/about", the visit is also not tracked. Only route changes are tracked.

[2016-05-29 14:44] dnish commented on #114
Temp workaround:

[code]

[2016-05-30 13:57] mlecoq commented on #106
@rgould

I have tried to export it with ES2015 syntax.

I added
    api.use('ecmascript');

In package.js

Then I wanted to export analytics (as written http://guide.meteor.com/writing-atmosphere-packages.html)

It fails in Meteor.startup
`meteor-analytics.js:156 Uncaught TypeError: Cannot read property 'initialize' of undefined(anonymous function) @ meteor-analytics.js:156maybeReady @ startup_cli

[2016-06-01 12:42] nadeemja commented on #76
Any progress on this? :)

[2016-06-01 14:18] matthlavacka commented on #114
I noticed the same thing with the same setup. Glad I'm not alone.

[2016-06-03 18:46] karldanninger commented on #113
Hey @markoshust, sounds like a cool improvement! I'll mark this as an enhancement, and would love to accept a pull request for this.

[2016-06-04 14:58] littlemercury commented on #44
@pauldowman @tsemana
I have the same issue. Everything works fine on my remote host but doesn't work on Safari on my localhost.
Strangely enough the issue is only on safari. Works fine on localhost with Chrome.
Same settings file and same code on both hosts. Works fine on the remote host with safari.
Seems to be an issue on safari with localhost for me.

[2016-06-04 21:44] littlemercury commented on #44
@pauldowman @tsemana - got it. My adblocker on safari was activated by the analytics code, and for some reason caused the analytics variable error.
Disabling the adblocker for my site fixed the issue, though I'm not sure exactly why it would have caused the variable to not initialize.
I'm using Adblock Plus (adblockplus.org) for anyone else who is experiencing this issue.

[2016-06-07 14:35] v3rron opened #115 "Not working on iOS"
I'm on a latest Meteor 1.3 version. The package works perfectly fine on the browser and I can see all the events in my Mixpanel, however when I make a build for iOS, it doesn't send any data from iPhone.

After a lot of research and reading on the issue, I thought that the problem is hidden inside NSAppTransportSecurity introduced in iOS 9. So I followed this http://stackoverflow.com/questions/312

[2016-06-07 21:23] zeroasterisk opened #116 "I see a committed release to 1.0.7 but meteor isn't updating it from 1.0.6"
[code]

[2016-06-08 13:19] derouck commented on #108
There seems to be a much bigger problem than I thought. Apparently the Hubspot code doesn't get initialized at all. The thing is that for quite a few libraries there is an option "assumesPageView". If this flag is set in the plugin code, like it is for HubSpot, initialization should happen when the first page call is made. This is implemented with the "after" package. This mechanism is written in

[2016-06-08 13:23] derouck commented on #108
Not only the connections with these libraries get broken but everything gets stuck if you load any of these connectors and you don't do manual page tracking calls.

[2016-06-08 13:32] derouck commented on #100
@Atu I bet you're having the same issue as I was having with some of the packages. Most of these packages want to get the first page when they are loaded. Analytics.js will only load these packages when you do the first call to track a page view. Hence, the ready call is not made as this will only be triggered once initialisation is completed.

I checked the main analytics quickly and I saw that a

[2016-06-09 08:31] ThomasCin commented on #87
+1

[2016-06-09 09:27] ThomasCin commented on #114
We have the same problem..

[2016-06-09 20:16] xjonsson commented on #115
Having the same issue on Android, i think it could be a Meteor 1.3 issue with mobile devices. Currently using Google Analytics. Works fine on desktop.

[2016-06-11 18:14] markshust opened #117 "implement mixpanel identity first_name, last_name"
There is a `mixpanel.people.set` method, which takes custom params, including first_name, last_name, and any other custom fields.

Info per:
https://mixpanel.com/help/reference/creating-a-profile
https://github.com/mixpanel/mixpanel-node#quick-start

`$first_name` and `$last_name` are special fields, but it appears they also allow custom fields to be added. It would be really nice if `identify` al

[2016-06-13 13:38] pauldowman commented on #115
Thanks for reporting it, we'll take a look.

@v3rron you said "The package works perfectly fine on the browser" but you also said "I'm not getting any Google Analytics or Keen.io data even from the browser when calling analytics.track("My Event", { custom: "data" }) function", can you give a bit more detail about what's working and what isn't?

Thanks.

[2016-06-13 13:54] v3rron commented on #115
@pauldowman my bad, Google Analytics actually works on browser. I started seeing users activity a couple hours later.

I only signed up for 3 services, Keen.io, GA and Mixpanel. I'm only finding Mixpanel useful so far, Google Analytics UX/UI is horrible and not user friendly. I couldn't find the events I sent from my app to Google Analytics, only User Activity.

`Keen.io` still not getting any eve

[2016-06-14 14:34] AnthonyAstige commented on #115
I'm also not seeing data reported from an android app build.

Works fine from browsers (chrome on desktop and android).

Feels like an issue with Cordova maybe.

**Debugging**

Watching my physical Android device with Android Studio >> Tools >> Android Device Monitor >> LogCat I think an error like this comes up whenever I click a link

![screenshot from 2016-06-14 09-30-34](https://cloud.githubus

[2016-06-16 04:34] skirunman opened #118 "Push 1.0.7 release to Atmosphere"
Hi @rgould,

Could you please push the 1.0.7 release to Atmosphere. Same issue as https://github.com/okgrow/analytics/issues/116

Thanks!

[2016-06-16 14:59] rgould commented on #118
@skirunman Sorry about that! Thought I had, but clearly it either didn't work, or I forgot about it. It's up there now.

[2016-06-16 14:59] #118 closed, assigned to nobody

[2016-06-16 15:00] rgould commented on #116
@zeroasterisk Sorry! I forgot to push the newest release to atmosphere. It should be fixed now.

[2016-06-16 15:00] #116 closed, assigned to nobody

[2016-06-16 16:30] skirunman commented on #118
Awesome, thanks.

[2016-06-17 17:16] RodMachado commented on #109
Hey @tjcampbell

Yes, this behaviour is currently intended. I guess @banjerluke pretty much answered your question there. You could disable `autorun` and specify which events should be tracked manually.

We could discuss if adding an option for tracking only one event vs all events would be a nice improvement for future versions.

[2016-06-17 17:16] #109 closed, assigned to RodMachado

[2016-06-18 15:18] juho opened #120 "1.0.7 breaks whole app with an ad blocker on"
Using uBlock Origin:

![screenshot 2016-06-18 17 15 38](https://cloud.githubusercontent.com/assets/399937/16171768/63da8e8e-3578-11e6-910a-3eca6a1530b3.png)

[2016-06-20 13:17] BeSports commented on #120
+1

[2016-06-20 14:24] JWPapi commented on #115
Could be because of missing Access Rules:

https://docs.meteor.com/api/mobile-config.html#App-accessRule

[2016-06-20 14:27] Siyfion commented on #120
Yup, only just seem to be getting this problem today after updating, but it's certainly an issue!

[2016-06-20 22:09] cfnelson commented on #120
@juho @BeSports @Siyfion I have rolled back the breaking changes of v1.0.7.  [v1.0.8](https://github.com/okgrow/analytics/releases/tag/v1.0.8) is out now and is also up on [Atmosphere](https://atmospherejs.com/okgrow/analytics). Let me know if you have any further issues.

[2016-06-20 22:09] #120 closed, assigned to cfnelson

[2016-06-20 22:15] juho commented on #120
Thanks!

[2016-06-21 13:01] JWPapi commented on #115
Im pretty Sure its bc of the Access Rulles you need to:

App.accessRule('http://www.google-analytics.com');
App.accessRule('https://stats.g.doubleclick.net');

Can be closed!

[2016-06-22 03:04] v3rron commented on #115
@JWPapi my current accessRule is:

[code]

but still not working

[2016-06-22 06:49] JWPapi commented on #115
Are you on the newest meteor ? Did you use YOUR Tracking Code ? Not the example one ? Also it might happen that the first Pageview is not counted ?  Also which router are you using ?

[2016-06-22 23:20] cfnelson commented on #108
@derouck There is an open issue that I believe explains the behaviour you noticed with Google Analytics and Hubspot over on segment.io's [analytics.js repo](https://github.com/segmentio/analytics.js/issues/409) ?

Currently if one integration fails no .ready() is fired. A substantial rewrite might be required on our end, but we are currently investigating.

We are working  to resolve a few of the

[2016-06-22 23:35] cfnelson commented on #117
@markoshust I took a look at the mixpanel integration for you and as far as I understand this method is already supported by segment.io's analytics.js `.identify()` function, [read instructions here](https://segment.com/docs/integrations/mixpanel/#identify).

If they do not support the functionality you require I would suggest you open an issue on their [mixpanel-integration repo](https://github.c

[2016-06-22 23:35] #117 closed, assigned to nobody

[2016-06-23 00:11] cfnelson commented on #99
@charlottetan As far as I understand the request you have made is outside the scope of this package. This package is only wrapping segment.io's analytics.js and adding functionality for easy analytics tracking with IronRouter or FlowRouter. Using ssl is dependent on if the analytics service supports/provides ssl.

If you are using the [BrowserPolicy Package](https://atmospherejs.com/meteor/browser

[2016-06-23 00:11] #99 closed, assigned to nobody

[2016-06-23 00:20] cfnelson commented on #70
Segment.io provides seperate repo's for each integration. You can check them all out [here](https://github.com/segment-integrations). I think it is a good idea as it will solve all the enhancement requests. Will need to think of a good way to implement this.

[2016-06-23 00:28] cfnelson commented on #97
@markoshust we are grabbing the minified file from our fork of segment.io's analytics.js, which can be found [here](https://github.com/okgrow/analytics.js). We need to update that repo and do a rebuild to generate the minified file. Hopefully we can get to it next week.

[2016-06-23 00:48] cfnelson commented on #81
@AndreasGalster Sorry for taking so long to resolve this. The README has been updated with this commit https://github.com/okgrow/analytics/commit/4afa58792e97e1fe3291ec52b00d7871d87f006a

As you already have guessed hotjar isn't currently supported. We are looking into refactoring the way this package works with the intended goal of providing the ability for anyone to add the specific segment.io a

[2016-06-23 00:48] #81 closed, assigned to nobody

[2016-06-23 09:32] derouck commented on #108
@cfnelson That's fine, I have a fairly simple workaround by changing trackPageWhenReady like this, so for me there's no rush.

[code]

With this approach, there could be some information missing, but the point is that a lot of the analytics systems want to know the first page when they are initialized. Then again they only say they are ready when they receive have tracked a page. Thus the only way

[2016-06-23 20:58] arrygoo commented on #115
I wasn't able to reproduce this issue on Meteor 1.3.3 with IOS Using [this branch](https://github.com/okgrow/analytics/tree/updating_examples_to_1_3) which has the examples in 1.3.3 .

I just ran the example app on iPhone and immediately saw page views on GA.

@v3rron Responding your first question, analytics.track("My Event", { custom: "data" }) should trigger an event in all of them. I just trie

[2016-06-23 21:36] AnthonyAstige commented on #115
I've recompiled and it now works showing in Google Analytics Real-Time Overview results pretty much instantly between clicking links on the Cordova Android app.

I think the only newly notable environment variables in the context of my above comment is:
- `METEOR@1.3.4`
- `okgrow:analytics@1.0.8` (I'm not sure my prior version though)

[2016-06-25 02:48] cfnelson commented on #108
@derouck Thanks for your detailed response. Out of curosity are you using FlowRouter ?

I have worked on resolving a bug in our package where FlowRouter didn't log the intial page view. The fix is here #123 . I would be curious to know if this resolves your issue, though from reading your issue I suspect it is slightly different.

I like your 2nd solution. I will go check what libraries are using

[2016-06-25 03:41] cfnelson commented on #103
@elie222 Have you been able to resolve this issue or have you made any progress on identifying the cause for the count discrepancy. I do not have experience with Intercom but will try my best to assist.

If you haven't resolved it do you think you can make a minimal reproduction for us to take a look at ?

Some suggestions & questions:
- Was this issue related to #97, as suggested above by benstr

[2016-06-25 14:12] Rahbaran opened #124 "Missing analyticsSettings in Meteor.settings.public in Chrome Mac"
EDIT: Sorry the fault was completely on my side and there's was nothing for others to learn (so I deleted the text). As I can't delete the whole issue: you can close this.

Sorry again, and thanks for the great package :)

[2016-06-25 18:43] cfnelson commented on #124
No problems. 😄

[2016-06-25 18:43] #124 closed, assigned to nobody

[2016-06-27 17:30] cfnelson commented on #115
@v3rron Could you let us know if their is a bug still effecting you ? We have been unable to reproduce.

[2016-06-27 19:12] #100 closed, assigned to cfnelson

[2016-06-27 19:12] #114 closed, assigned to cfnelson

[2016-06-27 21:13] cfnelson opened #125 "es6 style"
Convert to es6 syntax.

[2016-06-27 21:14] #125 closed, assigned to nobody

[2016-06-29 18:45] arrygoo commented on #115
Closing this. Please re-open if it's still occurring.

[2016-06-29 18:45] #115 closed, assigned to arrygoo

[2016-07-03 10:04] preexo opened #126 "Client Offline Analytics"
What happens if the client is offline (no connection to the internet) for a short period of time? What happens to the events and collected data from within that period?
Can the data somehow pushed later, once the client is back online?

Thanks for any hints, best regards

[2016-07-04 19:41] arrygoo commented on #126
- Keep in mind that this package is a wrap of Segment.io's analytics.js package.
- As far as I have tested, we lose track of the user when they go offline until they come back online.
- However, you can manually trigger any of the events that you want by manually storing user's information once they go offline, and using analytics.track or analytics.page when they come back up.

I'll close if you

[2016-07-05 06:34] preexo commented on #126
@arrygoo - thank you for the answer. I also thought about this, it would probably require another wrapper around this package to store all analytic events in a local storage first and push them only if the client is online, then remove them from the local storage. That way nothing would be lost.
Since you pointed me to the origins of this package I actually found an issue talking about this: https

[2016-07-05 14:14] arrygoo commented on #126
@preexo - Interesting. I think you're proposed solution sounds like a step in the right direction. We welcome PRs, however it might make more sense to have this feature on Segment.io's package.

[2016-07-05 21:30] Kemingkai commented on #76
I am also interested in whether there's any progress on having an open source library for server side analytics. Thanks!

[2016-07-06 14:36] arrygoo commented on #76
Currently there is no plan to implement this in the near future, but pull requests are welcome!

[2016-07-06 17:05] Kemingkai commented on #76
Got it, thanks for your quick reply. I think this would be a bit above my abilities :)

[2016-07-08 09:15] DonFabiolas opened #127 "with google analytics visualisation"
Hello,

on https://analytics.google.com

**this works :**

[code]

**this doesn't works, I have got nothing on https://analytics.google.com, any idea ?**

analytics.identify('1e810c197e', {
  name: 'Bill Lumbergh',
  email: 'bill@initech.com'
});

[code]

thank you

[2016-07-08 14:14] arrygoo commented on #127
Hey @TroubadourFabiolas,
I just tested the [example app](https://github.com/okgrow/analytics/tree/master/examples/flow-router) and it seems to run fine.

I also pasted your example in the example app and it showed up on https://analytics.google.com .

Do have adblocker on by any chance? If not maybe try you example in the [example app](https://github.com/okgrow/analytics/tree/master/examples/flow-

[2016-07-08 15:53] DonFabiolas commented on #127
hi @arrygoo thanks for your answer

No, I have not adblocker.

In your example, you use `analytics.on('page'`and I use `analytics.page("home1");` => is it the same ?

Do I need to use "Mixpanel" in settings.json ?

Thank you

[2016-07-08 17:43] arrygoo commented on #127
Hey @TroubadourFabiolas,

I hope I can help you figure this out. Those two are not the same. In the example analytics.on('page', foo) is an event listener, meaning that  "foo" will run everytime a "page" event is emitted. In our example we log it every time 'page' happens.

On the other hand, analytics.page("home1") is the actual trigger of the action, meaning that it will cause a page view to sho

[2016-07-09 08:17] DonFabiolas commented on #127
@arrygoo thank for you answer,

For your information : Meteor 1.3.2.4

[2016-07-09 08:25] DonFabiolas commented on #127
@arrygoo I just checked on https://analytics.google.com
Yesterday, I didn't see nothing on the real-time tab,
Today, I just saw a page seems tracked,

so, I continue the test and I'll come back tomorrow ;-)

[2016-07-11 06:09] DonFabiolas commented on #127
@arrygoo Hello, here you are my results after my latest tests.

with this code

[code]

Note : On real-time tab, I can see some activity like Url from browser like '/' but we can't see more details of activity.

Thank you @arrygoo for your help.

[2016-07-11 06:09] #127 closed, assigned to nobody

[2016-07-11 13:42] arrygoo commented on #127
@TroubadourFabiolas glad you figured it out!

[2016-07-14 16:19] arrygoo commented on #97
@pablolarvor @IamCharlesHan @kartikTT  Does the new release fix your intercom issue? We are now using the latest Segment.io build.

[2016-07-14 16:21] arrygoo commented on #103
@elie222  Does the new release fix your intercom issue? We have updated to the latest segment.io build that should fix the Intercom bug.

[2016-07-17 20:48] lvnr commented on #83
+1

[2016-07-19 23:19] virtuman commented on #87
+1

[2016-07-23 14:54] vladfr commented on #87
+1

[2016-07-23 14:55] vladfr opened #132 "Add support for react-router"
Hello!

This library is great! Any +1s for built-in support for react-router?
Is there a way to make this work with react-router?

[2016-07-25 19:20] cfnelson commented on #132
@vladfr Currently this package does not support react-router. You should still be able to use this package but you will not have any of the automatic page events being logged and will have to add them into the react-router yourself.

We will be adding react-router support soon. We are looking at refactoring this package to be compatible with any router and not depend in any router packages.

Hope

[2016-07-25 19:33] cfnelson commented on #106
@mlecoq v2.0.0 is out which supports es6 import/export for 1.3.1+ packages. Let me know if you have any questions of issues.

The correct way to import the package is:

[code]

See the flow router example for more details on how it all works.

[2016-07-25 19:33] #106 closed, assigned to nobody

[2016-08-01 16:34] fabyeah opened #133 "Disable analytics in development"
I'm getting the `Missing analyticsSettings in Meteor.settings.public` error in development. I didn't provide the Google Analytics settings / tracking code in the development settings.json, because I don't want the development analytics to mix with the production analytics. Is it possible to disable the analytics for development, because I don't like seeing the error in the console...?

[2016-08-02 15:30] cfnelson commented on #133
Hey @fabyeah, there is no code in this package that will stop the error from printing. You can see how we check the `analyticsSettings` [here](https://github.com/okgrow/analytics/blob/master/client/constants.js#L4) and [here](https://github.com/okgrow/analytics/blob/master/client/startup.js#L11).

I would suggest though that you create a 2nd GA [property](https://support.google.com/analytics/answe

[2016-08-02 15:30] #133 closed, assigned to nobody

[2016-08-02 22:03] fabyeah commented on #133
Ok, thank you, I will do that.

[2016-08-11 18:45] v3rron commented on #115
Yes, unfortunately this is still occuring for me. I'm on `METEOR@1.3.5.1` now. Even updated this package to `v2.0.0`. Same thing. Only getting analytics to Mixpanel through browser but not from iOS/Android apps.
My mobile-config settings:

[code]

I'm using `kadira/flow-router`, and this is my list of packages:

[code]

PS: All the API keys are correct, because they work from Chrome/Safari browser

[2016-08-12 13:33] jamielob commented on #115
Hi @v3rron, could you provide us with a minimal repo that reproduces the issue?

[2016-08-23 16:41] torayeff commented on #132
@cfnelson  Can you provide simple example for react-router?

[2016-08-23 17:40] arrygoo commented on #132
@torayeff you could take a look at these for inspiration: https://github.com/okgrow/analytics/blob/master/client/flow-router.js#L7-L39
https://github.com/okgrow/analytics/blob/8e9421e723c2ac177d0c239af725553b0a8efe9d/client/helpers.js#L11-L18

Basically you would need to listen to route change and trigger a [`analytics.page` ](https://segment.com/docs/sources/website/analytics.js/#page) when the p

[2016-08-24 13:47] pauldowman commented on #132
Really we need to refactor it to be router-independent. We definitely want to do that.  I think we might be able to simply listen for the `popstate` event and get rid of any router-specific code.

[2016-08-25 10:37] craigdrayton opened #134 "Add feature to stop sending analytics when impersonating another user"
Hi,

I'm using https://atmospherejs.com/gwendall/impersonate to allow admin users to impersonate other users. However, when I'm impersonating another user, okgrow:analytics sends off analytics data as if it were from the user I'm impersonating.

It would be great to be able to toggle okgrow:analytics on and off, or to have another way to conditionally prevent okgrow:analytics from sending analytic

[2016-09-01 13:02] merlinstardust opened #135 "Astronomer.io"
Will this package work alongside Astronomer's analytics package?

https://atmospherejs.com/astronomerio/core

[2016-09-01 14:10] arrygoo commented on #135
@merlinpatt We haven't tested it against astronomerio, I'm curious to see if they play nice together but there's a good chance they may not work along each other due to this comment on the link you shared:

`#####NOTE: If you are using the package "percolatestudio:segment.io," you will need to remove this before installing Astronomer. This package sets a global 'analytics' object that makes things

[2016-09-01 14:14] arrygoo commented on #134
@craigdrayton This is a great idea if it can be done in a simple way that doesn't introduce problems for others. It's currently not in plan for near future, but pull-requests are encouraged.

[2016-09-08 00:26] noahsw commented on #32
This is preventing my entire Meteor app from loading. I just get a white screen with a bunch of console errors:
![image](https://cloud.githubusercontent.com/assets/2034879/18333022/1d273040-7520-11e6-8af4-57a609720610.png)

My only workaround is to disable adblock. This is a blocker for me using this package unfortunately.

[2016-09-08 14:04] cfnelson commented on #32
@noahsw Is this happening in dev or production mode ? Is this the issue referred to in the [README](https://github.com/okgrow/analytics#ad-blocker) ? If it's not can you please provide more information and/or a minimal reproduction as we have tested on our example apps without any issues when following the README instructions.

[2016-09-09 04:38] noahsw commented on #32
Ah, you're right @cfnelson. I didn't see the note on the README. However, I think we should make it clearer that the key difference is minification. I use meteor-up and I'm able to deploy to production (with Meteor.isProduction true), _without_ minification. That's where I was getting the error.

Once I minified things with meteor-up's `buildOptions { debug: false }`, everything was fixed.

[2016-09-09 13:53] arrygoo commented on #32
@noahsw I agree with your point about minification being clearer in the guides. Will add that. 👍

[2016-09-09 13:54] pauldowman commented on #32
Is it the package name that's a problem, or one of the file names? Is it possible to rename something? (Maybe not if it's the package name itself).

[2016-09-12 02:45] noahsw commented on #32
Thx @arrygoo !

@pauldowman, I believe it's because the javascript file it exports has the word "analytics" in it.

[2016-09-12 19:14] cfnelson commented on #32
@noahsw Sorry for the late response, been away on holiday. You are correct that it's due to it not being bundled.

@pauldowman It is due to the Package name that we are using. I believe uBlock is inspecting the Request URL and/or its response and blocks if it reads the word "analytics". When the Meteor packages are not bundled Meteor requests each package individually. In our case something like t

[2016-09-13 09:05] Siyfion commented on #132
This would be a fantastic addition to the package, especially as more and more people are switching to React. I would assume that at least a portion of those users are also switching to React Router (such as myself).

[2016-09-16 15:05] nschulte commented on #115
Not working for me either on Cordova. Using GA and Mixpanel, neither work on Cordova, but both work on browser. Using Galaxy as host.

`Meteor v1.4.1.1`
`okgrow:analytics v2.0.0`
`App.accessRule("http://*.google-analytics.com/*");`
`App.accessRule("https://*.google-analytics.com/*");`
`App.accessRule("https://stats.g.doubleclick.net/*");`
`App.accessRule("http://stats.g.doubleclick.net/*");`
`App.

[2016-09-17 21:26] acomito commented on #132
I'm thinking of just popping it into an onEnter hook for now. Has anybody tried this? Do you have an example?

found this too: https://www.npmjs.com/package/react-mixpanel

[2016-09-19 13:21] arrygoo commented on #132
@acomito I don't think we have tried it with react router yet, but I personally think you're on the right path with onEnter.

[2016-09-19 21:07] pauldowman commented on #132
I think it could actually all be refactored to be router-independent, e.g. using the `popState` event.

But, I noticed it sounds like React Router might be implementing this soon. On the v4 branch they have this:

https://github.com/ReactTraining/react-router/tree/v4#what-about-scrolling

[2016-09-19 21:08] pauldowman commented on #132
Actually, ignore that comment, it's on the wrong repo. :-)

[2016-10-04 19:57] calebkleveter commented on #32
I got this because I was running AdGuard. After turning it off things started working!

[2016-10-06 18:57] t3db0t opened #137 "Do I need to do anything at all for basic tracking?"
My interpretation of the README suggests that one need not do anything at all after adding the package and adding the `public.analyticsSettings` object in `settings.json`.  I am using Iron-Router and Google Analytics, but I don't see anything coming into GA and I don't see any outgoing network requests to GA.

My `settings.json` looks like:

[code]

Separately: you should add to the readme's secti

[2016-10-06 19:26] t3db0t commented on #137
Ah ok, my bad, `uBlock Origins` does completely block GA with this package.  Is that to be expected?  This is all in production mode, not development mode.

[2016-10-06 20:01] cfnelson commented on #137
@t3db0t Check out the ReadMe's [adblocker](https://github.com/okgrow/analytics#ad-blocker) section. How are you deploying your app ?

Misunderstood your question. If you have any Ad-blocker on your analytic events will be blocked and the user will not be tracked. This is expected behavior for certain Ad-blockers.

[2016-10-06 20:06] t3db0t commented on #137
Yep, that's what I thought, no problem. It just wasn't completely clear in the readme if you meant "it should work even with most adblockers on" or not

[2016-10-06 23:31] cfnelson commented on #137
@t3db0t Thanks, hadn't thought about explaining that analytics will not work when adblockers are enabled. Will make a note to add a sentence stating that if you have Adblockers on then analytic events will be blocked.

[2016-10-06 23:31] #137 closed, assigned to nobody

[2016-10-08 15:59] acomito commented on #132
So getting it (roughly) going was pretty easy:

setup settings per usual but with page views turned off:

[code]

Go into your routes file and add a function:

[code]

then you can add it on a per route basis in onEnter:

`<Route name="refund" path="/refund" component={ RefundPolicy } onEnter={ logPageView } />`

Or even at the top-level route in the onChange and it will log for all child routes:

[2016-10-12 18:25] t3db0t commented on #76
Hm; why is `analytics` exported to `server` at all then? It doesn't seem to even be defined on the server.
https://github.com/okgrow/analytics/blob/master/package.js#L36

[2016-10-12 19:17] Antoine-O opened #138 "Ublock makes it crash"
Hello,

when Ublock is on Iron router crashes. I am on version 2.0.0 is there any fix ?

Thanks

[2016-10-19 20:24] arrygoo commented on #76
@t3db0t the server export was left there for backwards compatibility.

[2016-10-22 18:36] ldelaporte opened #139 "Pageviews not tracked with FlowRouter SSR"
After implementing FlowRouter SSR page views are not tracked anymore (both Mixpanel & GA).

Without SSR it works fine. The debug logs show the initialization of both modules (Mixpanel & GA) and event tracking, however, there seems to be a problem with defining the FlowRouter.triggersEnter function.

I have assumed that triggersEnter cannot be defined as Package["kadira:flow-router-ssr"] in routers

[2016-10-24 08:21] ldelaporte commented on #139
The problem must be caused by initializing FlowRouter before Meteor.startup(), potentially in #123

I was able to temporarily fix the issue by wrapping the initialization in a function and handing over a FlowRouter instance in Meteor.startup() instead of getting it from routers.js.

startup.js

[code]

flow-router.js

[code]

[2016-10-28 21:37] ghost commented on #138
@Antoine-O We cannot reproduce this issue. When uBlock is enabled the plugin will be blocked from sending analytics data. But iron-router is not crashing.

Could you provide a minimal working reproduction of the bug for us to take a look at?

[2016-10-28 21:37] ghost commented on #138
We will close this issue for now until we can reproduce it.

[2016-10-28 21:37] #138 closed, assigned to nobody

[2016-10-28 21:48] ghost commented on #138
@Antoine-O I think your issue may be because you aren't using the `--production` tag when running meteor locally. You need to use this for the analytics plugin to work correctly.

[2016-10-28 22:04] ghost commented on #139
@ldelaporte We have been unable to reproduce this using the package's flow-router example (using flow-router-ssr). What version of flow-router-ssr are you using? And what version of this package?

Could you please provide a minimal working reproduction in the flow router example (this package).

[2016-10-28 22:05] #135 closed, assigned to nobody

[2016-10-28 22:13] arrygoo commented on #138
^ https://github.com/okgrow/analytics#ad-blocker

[2016-10-29 08:19] Antoine-O commented on #138
Go on beta.quickcontest.com with ublock enabled it will certainly crash

Le sam. 29 oct. 2016 00:13, Aryan Goharzad notifications@github.com a
écrit :

[2016-10-29 10:05] Antoine-O commented on #138
I am.using a docker image abd i am not using meteor directly as it is 'exported' as a nide.js application. This may cause the problem ?

[2016-10-29 10:07] Antoine-O commented on #138
Fyi i am using https://github.com/CyCoreSystems/docker-meteor

[2016-10-31 16:57] ghost commented on #138
@Antoine-O The issue is that your code is not minified in the production deployment on the website you linked above. If you look inside the resources you can see all the individual files, this includes the name of the files. UBlock will block any files with the word analytics in the name and that is what is causing the crash. The --production tag minifies / bundles the codebase and fixes this issu

[2016-11-01 08:51] jimmytidey opened #141 "Google Analytics not working; not sure what to do next"
I have installed the package, saw an error about there being no settings.json, added an appropriate settings.json and the error went away.

In the console I see

`analytics:integration:google-analytics initialize +0ms`

So everything looks great, but I don't see myself appear in the real time part of GA, it doesn't load a tracking pixel, and the Google Analytics Tag Assistant browser plugin says t

[2016-11-01 13:25] arrygoo commented on #141
@jimmytidey
With the current version of Analytics, you need either FlowRouter or IronRouter for analytics page triggers to work.

@oliverthomasklein has [worked on an update](https://github.com/okgrow/analytics/pull/140) which makes it agnostic to the router that's used.

[2016-11-01 13:29] jimmytidey commented on #141
Fantastic, thanks.

Ok, well I guess for now I'll just add flow router. Hopefully I'll be able to remove it in the future!

Great project!

[2016-11-01 13:53] cfnelson commented on #141
@jimmytidey Thanks, the Flow Router example in the repo here may be helpful to you as it demonstrates basic setup/how it works. If you have any other issues or the README is missing anything let us know.

[2016-11-01 13:53] #141 closed, assigned to nobody

[2016-11-01 19:43] ghost commented on #139
@ldelaporte I'm going to close this issue for now. We will re-open it once a minimal working reproduction is provided. Thanks.

[2016-11-02 22:51] Antoine-O commented on #138
you nailed it! I don't know why but "minified" packages were removed from the project :'(.
I'll give a try and close the issue if it is ok !

[2016-11-08 11:05] DonFabiolas opened #142 "Weird behaviour with 'autorun'":false"
I have 3 events in Google Analytics for the following script. I would like just 1 event in Google Analytics to track properly

In Google Analytics : Real Time => Events => Events (30 last minutes) => event action column

- Viewed innovatorProfileHistory Page
- Viewed public-category Page
- Viewed public-category public-history-profile Page (I just want this line)

**settings.json**

[code]

**myFi

[2016-11-09 04:21] pauldowman commented on #139
This might be fixed by #143.

[2016-11-09 04:21] pauldowman commented on #139
@ldelaporte as a temporary workaround try moving `okgrow:analytics` to the bottom of your `.meteor/packages` file. (That's not a real fix and might not always work).

[2016-11-09 10:06] DonFabiolas commented on #142
So, I can see a weird behaviour with 'autorun'":false

**with this settings.json**

[code]

=> In google Chrome Inspector Console, I do : "Meteor.settings" and I can see that "autorun:false" is not present

any Idea ?

[2016-11-09 15:14] arrygoo commented on #142
@TroubadourFabiolas I think you're on the right path by setting `autorun:false` and setting your triggers manually.

I just tried your settings and I had the same issue. Very peculiar. I will file this as a bug and investigate it further.

[2016-11-10 20:57] ecwyne commented on #142
@arrygoo
https://github.com/okgrow/analytics/blob/master/client/constants.js#L3-L4

It appears that the `Meteor.settings.public.analyticsSettings` are being passed as a reference rather than as a value. I don't see exactly where but it appears that when analytics.min.js [initializes](https://github.com/okgrow/analytics/blob/master/client/startup.js#L15) it somehow alters `Meteor.settings.public.an

[2016-11-10 20:59] pauldowman commented on #142
Thanks @ecwyne !!

[2016-11-10 21:09] ecwyne commented on #142
Actually, I believe my prescribed solution would still have the same issue. `SETTINGS` would be altered by `analytics.min.js`.

A more robust solution would be to leave `client/constants.js` as is and pass a cloned object to `analytics.min.js`

https://github.com/okgrow/analytics/blob/master/client/startup.js#L15

[code]

That way `analytics.min.js` can modify the cloned settings without affecting

[2016-11-18 15:50] KristerV commented on #3
note to self: you can actually use environment variables by using the [METEOR_SETTINGS](https://docs.meteor.com/api/core.html#Meteor-settings) keyword.

[2016-11-20 10:01] liortrench opened #145 "prevent signin event"
hi there!
we are using the accounts package which automatically track the sign in events. this is not good for our project as a meteor user is not a valid user on our system until it goes through an internal verification process. i want to trigger the signin/login event only after our verification process. is there a way to cancel the automated signup/signin event and control when to send it?
than

[2016-11-20 14:11] ldelaporte commented on #139
@pauldowman  sorry for the delayed response - works fine!

[2016-11-21 13:01] pauldowman commented on #139
Thanks @ldelaporte. I assume you mean the workaround. #143 was merged and should be released today.

[2016-11-21 15:03] arrygoo commented on #145
Yes, setting autorun to false will disable the auto triggering of the app. Then you can trigger them manually, look at this for inspiration on triggering it yourself: https://github.com/okgrow/analytics/blob/0f677838c198b615a8918a00b890f959a8db9c7a/client/helpers.js#L11-L18

[2016-11-22 19:54] ldelaporte commented on #139
I tried #143 by cloning it locally :) Thanks for the release!

[2016-11-30 11:20] liortrench commented on #145
@arrygoo thanks. setting autorun to false prevents event auto triggering except for the signin/login/signout events (from the okgrow documentation:
"Log signin/signout If you have the accounts package installed, this package will automatically track when a user logs in and logs out. Logging in will call identify on the user and associate their Meteor.userId to their previous anonymous activities."

[2016-11-30 18:16] arrygoo commented on #145
@liortrench from what I see there's currently no way to do that. The following code would need to be updated to use autorun: https://github.com/okgrow/analytics/blob/0f677838c198b615a8918a00b890f959a8db9c7a/client/meteor-analytics.js#L47-L62

[2016-12-02 02:01] vadim-works opened #146 "Is it possible to pass user defined dimensions to GA?"
I've added couple custom dimensions and trying to track them, so I need to send them from Meteor to GA.

Usually it can be done simply with:
[code]

But I can't figure out is it possible to do the same thing with this package?

[2016-12-02 07:13] ACPK commented on #97
@cfnelson  - Any fix for this?

[2016-12-02 20:08] #139 closed, assigned to nobody

[2016-12-04 11:52] liortrench commented on #145
@arrygoo thank you!

[2016-12-04 11:52] #145 closed, assigned to nobody

[2016-12-05 02:10] HemalR opened #147 "Doesn't segment.com integration, by extension, allow this to integrate with most things?"
I'm trying to integrate the drift.com chat widget into the site and having some issues:
* It works fine if I install it from scratch but
* If I instead pipe data into it using my segment.com account, then while it receives data, the chat widget does not come up.

So the question: Does this package's segment.com integration not allow segment/analytics.js to insert scripts into the app (i.e. Segment

[2016-12-07 02:06] avishaan opened #148 "Can't send iOS device token"
As per the analytics.js documentation here https://segment.com/docs/spec/common/ I want to write the device token in my Cordova app via
[code]
the data.registrationId is my device token which I have confirmed as I can also check via the console `console.log(data.registrationId)`

when I look at the event in mixpanel I see the following where it didn't actually add the token to the context and just

[2016-12-08 01:18] avishaan commented on #148
I finally figured out the solution to this. The mixpanel documentation is misleading. In case anyone else encounters a similar issue you need to set the device token  as such
[code]

where data.registrationId is your 64 character hexadecimal token. With that you can test whether everything is working by manually sending a push notification using the matching APNS and push certificate. From there y

[2016-12-08 01:18] #148 closed, assigned to nobody

[2016-12-09 15:53] cfnelson commented on #146
@vadim-givola Yes it is possible. This package is an extension of segment's analytics.js package. Check the documentation [here](https://segment.com/docs/integrations/google-analytics/#custom-dimensions).

[2016-12-09 15:53] #146 closed, assigned to nobody

[2016-12-09 16:01] cfnelson commented on #147
@HemalR I am not 100% clear on your 1st question, this package hasn't modified segments analaytics.js package. If it is possible with their original one then it will be in this package if we support the integration.

In regards to your 2nd question, this package only supports a subset of the integrations that segment supports. You can see the list of integrations this package supports [here](https

[2016-12-09 16:01] #147 closed, assigned to nobody

[2016-12-10 00:17] HemalR commented on #147
Cheers for taking the time to reply.

Yeah figured out that I would need to install analytics.js to give Segment the full capability to inject code into the app.

Thanks again.

[2016-12-11 20:19] pauldowman commented on #147
@HemalR to clarify further, this package doesn't include client-side Drift integration. The Segment integration here will send data to the Segment service (assuming you have an account and have set it up to do so) and from there you use Segment as usual to forward that data elsewhere. So to answer your question "Doesn't segment.com integration, by extension, allow this to integrate with most thing

[2016-12-16 03:31] ashwinthakre91 opened #151 "Not sending userId() in meteor app"
938470516.1481857550 gettings this userId in GA which is not correct

[2016-12-23 15:38] arrygoo commented on #151
@ashwinthakre91 Can you provide a minimal repo with this issue reproduced in it? You can use our examples as a starting point.

[2016-12-23 15:41] ashwinthakre91 commented on #151
Thank you very much for replay. Problem got solved😊

On Dec 23, 2016 9:08 PM, "Aryan Goharzad" <notifications@github.com> wrote:

[2016-12-23 17:03] #151 closed, assigned to nobody

[2017-01-27 21:38] ghost commented on #132
We've just released an update to this package (v2.1.0) which moves to a "router agnostic" approach (using the browser's history API). You might want to give this a try.

[2017-01-27 21:39] ghost commented on #142
Check our latest release (v2.1.0) that includes a fix for this as well as a move to be "router agnostic".

[2017-01-27 21:42] #142 closed, assigned to nobody

[2017-01-27 21:42] #132 closed, assigned to nobody

[2017-01-31 06:50] by-code opened #152 "Events are not sent if "analytics.track" is called inside router"
Following code won't track an event and won't even leave any error or debug information:
[code]
while if I put tracking later in event loop it'll work correctly:
[code]

[2017-02-03 14:46] ghost commented on #152
I'm currently unable to reproduce this issue on our latest version.

The first thing I'd like to confirm is if you are using our very latest version of this package. If not which version are you using?

[2017-02-04 00:34] mattmacpherson commented on #87
+1

[2017-02-04 12:00] derwaldgeist opened #153 "Why is sensitive data like e-mail published to the client?"
I am using ```okgrow:analytics``` in combination with ```fastrender```. A user of my app just recently complained that it reveals sensitive data in the head of my app. I first could not believe it, but then I found out that in fact the e-mail address of the logged-in used could be found in fastrender`s injected data.

Since I was sure I was not publishing such sensitive information on my own, I tr

[2017-02-05 16:47] pauldowman commented on #153
It only publishes that to the user themselves. Not to anyone else. I don't think showing you your own email address is a security or privacy issue.

It publishes the current user's email address to the client so that it can be used in an `identify` analytics call (which happens from the client side as do all analytics calls).

Please re-open if I have misunderstood something.

[2017-02-05 16:47] #153 closed, assigned to nobody

[2017-02-06 15:31] derwaldgeist commented on #153
Thanks for your fast reply. Well, I understand your reasoning, but people here in Germany are quite concerned about data privacy. So finding their mail address in the source code (which was caused by combining your package with fast-render) made them suspicious. Anyways. I found out in the meantime that even Meteor's account package included an auto-publish for the mail address, so removing okgrow

[2017-02-06 15:33] derwaldgeist commented on #153
One additional question: You said that the mail address is used in identify() calls. I also saw in the docs that this function will be called on user login to enable identification of the user. Can I prevent this? I am only interested in anonymous analytics data. Or did I get something wrong?

[2017-02-06 15:54] pauldowman commented on #153
This package calls `identify` with the various analytics services automatically and currently there's no way to customize that. I think we would probably accept a PR for adding that option.

[2017-02-06 16:12] derwaldgeist commented on #153
Ok, thanks. Do you happen to know whether this will be called for Google Analytics? I looked at the repo, but found that the actual call resides in the vendor library analytics.js.

[2017-02-07 13:55] pauldowman commented on #153
For Google Analytics it doesn't send personal info.

https://segment.com/docs/integrations/google-analytics/#identify

[2017-02-11 22:26] by-code commented on #152
I'm using version 2.1.0. Here is the list of all my dependencies:
<img width="818" alt="screen shot 2017-02-11 at 2 18 36 pm" src="https://cloud.githubusercontent.com/assets/24600107/22857983/fc83ee52-f065-11e6-8100-021fc45ea113.png">

[2017-02-11 23:26] by-code commented on #152
I've created a simple app to demonstrate the issue. Please take a look: https://github.com/yan-gethello/okgrow-analytics-issue-demo

[2017-02-14 05:56] Garbolino opened #155 "Do you plan to integrate Woopra?"

[2017-02-16 10:41] steven-tib commented on #54
I'm trying to get the userId (Meteor.userId()) sent to google analytics but doesn't seem to work. I've followed the different suggestions above but still not working. Isn't it necessary to specify a new "dimension" for the custom user id?
@dkleiman what is the simpler package that you are now using, which works with userIDs?

[2017-02-16 15:14] steven-tib commented on #54
Ok, it was actually properly saving the data linked to each user, and found the way to display it.
By configuring properly my views in google analytics I was able to show the analytics per userId.
more info here: https://support.google.com/analytics/answer/3123666?hl=en&ref_topic=3123660

[2017-02-16 15:23] pauldowman commented on #54
I'm glad you got it figured out!

[2017-02-17 16:38] ghost commented on #152
Great. Thanks for the demo. It looks like there might be an issue where analytics isn't "ready" in the direct call.

One way to solve this is to do the following:

```analytics.ready(()` => analytics.track.apply(this, args));```

In your example specifically:

[code]

You can do that in the short-term.

We actually have some internal helpers that do exactly this (`trackEventWhenReady`, `trackPageW

[2017-02-17 21:44] ghost commented on #152
Version 2.1.1 published exporting helper functions that use analytics.ready() to ensure the underlying analytics package is ready to go. Should solve this issue.

[2017-02-17 21:44] #152 closed, assigned to nobody

[2017-03-01 16:17] luzlab commented on #76
I saw analytics.js has a [server-side Node library](https://segment.com/docs/sources/server/node/). I took a look but need to dig into the code to understand how to set it up. I'll spend some time on figuring this out and see if I can put together a PR.

[2017-03-01 16:19] pauldowman commented on #76
Thanks @luzlab. I think it only supports Segment as an integration (which of course then lets you send the data on to the other services).

[2017-03-03 20:55] cfnelson commented on #108
Closing this issue as there has been no activity and believe it to be resolved. Please re-open if this bug comes back.

[2017-03-03 20:56] cfnelson commented on #103
Closing this issue as there has been no activity and believe it to be resolved. Please re-open if this bug comes back.

[2017-03-03 20:56] #103 closed, assigned to nobody

[2017-03-03 20:58] cfnelson commented on #97
@ACPK Are you still having this issue with the latest version of this package? Please re-open if you are, it should have been resolved when the segment min file was updated.

[2017-03-03 20:58] #97 closed, assigned to nobody

[2017-03-08 06:13] srimenow commented on #151
@ashwinthakre91  I have this exact same issue, can you please share how you managed to fix? This is driving me crazy :(

@arrygoo I have this issue in both my projects, but will wait to hear from @ashwinthakre91 before trying to reproduce.

Are you using session unification? It's the only thing I can think of that would be throwing something off. It's either that or a lack of minifying which I wil

[2017-03-08 06:20] ashwinthakre91 commented on #151
In app settings define
"trackingId": "**********",
"sendUserId": true

If you are using mupx or mup to deploy meteor project.
Make sure you have provided these settings in settings.json or js file

On Mar 8, 2017 11:43 AM, "srimenow" <notifications@github.com> wrote:

[2017-03-08 06:42] srimenow commented on #151
Thanks for the quick response, I had provided it in the deploy settings.json file except it was
"Google Analytics" : {"trackingId": "UA-**********-1", 'sendUserId':true}

I just changed to "" and it should get everything working, I owe you a drink :)

[2017-03-08 06:44] ashwinthakre91 commented on #151
Haha...waiting for your call if you are in Bangalore, India.

On Mar 8, 2017 12:12 PM, "srimenow" <notifications@github.com> wrote:

[2017-03-08 06:50] srimenow commented on #151
Just a quick update, it works! Really don't like how Google only let's you see one view or another so I am getting started on building my own Dashboard using Kibana.

E-mail me, my_github_username@gmail.com, I'm in Bangalore every year and I love Mamagoto.

I'll leave these posts highlighting my incompetence up incase this helps another poor soul :)

[2017-03-15 19:15] avishaan opened #157 "1.1.0 missing from atmosphere"
1.1.0 seems to be missing from atmosphere, as a result I can't add that version
![image](https://cloud.githubusercontent.com/assets/5360982/23966566/0dbce602-0979-11e7-86e9-393d679264c7.png)

[2017-03-15 21:26] pauldowman commented on #157
Why do you want that specific version?

It is [tagged](https://github.com/okgrow/analytics/tree/v1.1.0) and the tag is created automatically by our publish script so I'm surprised it would not be on Atmosphere.

But I'm not sure there's anything we can do about it.

[2017-03-16 10:56] elie222 opened #158 "My okgrow:analytics package is stuck at 1.0.9. Any ideas why?"
My okgrow:analytics package is stuck at 1.0.9. Any ideas why?

I even did `meteor remove okgrow:analytics` and `meteor add okgrow:analytics` and it still installs 1.0.9. Could it be that I'm depending on an old packages that doesn't allow the upgrade?

[2017-03-16 13:14] micktaiwan opened #159 "v2.1.1 does not work because of fsevents only used on Mac"
Version 2.1.1 breaks on Windows.
It depends on fsenvents and does not find binaries.

momentjs had the same problem
https://github.com/meteor/meteor/issues/7958

[2017-03-16 13:18] pauldowman commented on #158
Yes it would be a dependency issue. Are you using at least Meteor 1.3.1?

[2017-03-16 13:20] pauldowman commented on #157
I think it might be that there was an issue with 1.1.0 and it was never published, but I can't remember. I'm assuming you can solve the issue by using a newer version and I'm going to close this.

[2017-03-16 13:20] #157 closed, assigned to nobody

[2017-03-16 13:29] elie222 commented on #158
Yes I am. I still use Iron Router. Is that an issue?

On 16 March 2017 at 15:18, Paul Dowman <notifications@github.com> wrote:

[2017-03-16 13:30] pauldowman commented on #159
Is this when adding the atmosphere package to a Meteor app? I can see that the `package.json` has `nodemon` in `devDependencies`, but `package.json` shouldn't even be used in that case.

`package.js` is the only thing that would bring in dependencies to a Meteor app and I don't see anything in there that would use fsevents.

[2017-03-16 13:41] ddaydd commented on #159
yes from atmosphere.

[2017-03-16 22:31] cfnelson commented on #158
What version of Iron Router are you using?

[2017-03-16 22:36] elie222 commented on #158
1.1.2 which should be fine for the latest version of this package.

On Fri, 17 Mar 2017, 00:31 Charles Nelson, <notifications@github.com> wrote:

[2017-03-16 22:45] cfnelson commented on #158
What happens if you run `meteor update okgrow:analytics` does it remain at the 1.0.9 version? You could always `meteor add okgrow:analytics@2.1.1` and then `meteor add okgrow:analytics` which would unconstrain the package from that version.

There is a PR open to remove the Router dependencies from the `package.js` which may help once its published. You can also take a look at the iron-router exam

[2017-03-16 22:47] elie222 commented on #158
None of that works

On 17 Mar 2017 00:45, "Charles Nelson" <notifications@github.com> wrote:

[2017-03-16 22:49] cfnelson commented on #158
Forgot to mention that you could also try running `meteor update --all-packages` to update any indirect dependencies you have. Not sure if you have already tried this? Also what version of Meteor are you on?

[2017-03-16 23:09] elie222 commented on #158
Okay I finally got it updated. It was an internal package of mine causing
the issues. It was stuck on 1.0.4 of this package as a weak dependency
which seems to have been the issue. Thanks for the help.

On 17 Mar 2017 00:49, "Charles Nelson" <notifications@github.com> wrote:

[2017-03-16 23:36] elie222 opened #161 "Question: What's the difference between version 1 and 2 of this package?"
What's the difference between version 1.x.x and 2.x.x of this package?

[2017-03-16 23:40] elie222 opened #162 "Analytics v1 page tracking in v2"
In version 1 of this package I would get pages views as follows:
`Viewed team Page`
`Viewed league Page`

In version 2 I get:
`View TITLE OF WEBSITE`

The problem is that every page on my site has the same title, so this new format is problematic. More than that, it only seems to log the first page load. All subsequent page loads aren't logged. I don't know if it's not logging the events, because

[2017-03-17 06:41] StorytellerCZ opened #163 "Piwik analytics"
Hi, would you please consider adding Piwik?
https://piwik.org/

[2017-03-17 13:12] pauldowman commented on #158
Awesome, glad you got it working.

[2017-03-17 13:12] #158 closed, assigned to nobody

[2017-03-17 16:10] cfnelson commented on #161
@elie222
- **v1.0.9** Doesn't use imports and is compatible with older meteor versions lower then 1.3.1
- **v2.0.0 and v2.0.1** switched to using imports and only supports Meteor v1.3.1 or higher, package still only supported flow-router and iron-router.
- **v2.1.0+** switched to being router agnostic and this is where the removal of using router `name` occurred. Package switched to using `documen

[2017-03-17 16:15] cfnelson commented on #162
@elie222 See my response to you here https://github.com/okgrow/analytics/issues/161 , in short use `okgrow:analytics@2.0.1` if you need the router `name`.

[2017-03-17 16:15] #161 closed, assigned to nobody

[2017-03-17 16:19] ghost commented on #162
Yes we do have a bug in 2.1.x where name is not being properly passed. However, this will be fixed (shortly) to use document.title. As @cfnelson mentioned, if you rely on route name, stay with 2.0.1. If you are willing to set document.title for your pages you can use 2.1.3 (coming soon).

[2017-03-17 17:04] ghost commented on #162
v2.1.3 Is published and fixes an issue where document.title was not being properly passed to the page tracking.

[2017-03-17 17:04] #162 closed, assigned to nobody

[2017-03-17 17:45] cfnelson commented on #159
@micktaiwan @ddaydd What version of Windows, Meteor and Router (flow router, iron router, react router) are you running? Does v2.1.3 work for you?

I have tested the okgrow:analytics@2.1.3 using the react-router example on Windows 7 and have been unable to reproduce.

[2017-03-17 18:29] cfnelson commented on #159
@micktaiwan @ddaydd I have tested on v2.1.1 and was able to reproduce the bug you have. The bug was resolved in v2.1.2 when we updated Meteor to 1.4.3.2 and removed router dependencies in our package.js

You should be able to resolve your issue by updating to v2.1.3 if it is an issue with our package. Otherwise you may be required to update Meteor to v1.4.3.2 to resolve the bug.

[2017-03-17 18:29] #159 closed, assigned to nobody

[2017-03-23 23:30] krishaamer commented on #87
+1

[2017-03-23 23:35] krishaamer opened #165 "Google Page Speed"
Thanks for the amazing plugin!

I'm testing my site with Google Page Speed and it complains because the Google Analytics script is not being cached. Can we cache Analytics so Meteor users could have a nice 100/100 score? :)

[code]

You can check out the site here: https://www.100objects.fi

[2017-03-24 15:52] cfnelson commented on #165
@krishaamer Caching is outside the scope of this package. If you arer looking to improve your page speed you will need to be serving your apps assets, .js and .css from a CDN. This is where you would specify any cache times.

On the note of google analytics, they provide/set the 2 hours cache time because they wish to update the script regularly.

[2017-03-24 15:52] #165 closed, assigned to nobody

[2017-04-04 11:36] catimos opened #167 "document.title is not updating in properties of page view"
Hi
I am using this package with iron router and am updating document.title on every route.

When I click a new page link on a home page, the new page is tracked correctly with new page's document.title and path.  But when back button is pressed to come back to home page, the home page is tracked with new page's document title and home page's path, url.

Why is automatic page view logging not picki

[2017-04-05 22:16] derouck commented on #108
The proposed solution is not a fix for the problem. The problem is that some (a lot) of the tracking services require data when they get initialised. The function that will track a page, will only do that once the ready event has been returned from the analytics.js package. This event will never come in this case as e.g. the Hubspot package will only initialise once there is data

const trackPageW

[2017-04-08 00:06] cfnelson commented on #167
@catimos How exactly are you setting the `document.title`?

The behaviour you are experiencing is due to the way you are setting the `document.title` from within iron-router. See this issue here as a starting point https://github.com/iron-meteor/iron-router/issues/292 .

We personally haven't been using `iron-router` for a few years. You can use the 1.0.9 version of this package if you wish to use

[2017-04-08 00:06] #167 closed, assigned to nobody

[2017-04-08 00:16] cfnelson opened #168 "Update examples to have a unique `title` for each page"
Examples should be updated to have unique `document.title` for each page. Currently each page's `title` is set to [iron-router](https://github.com/okgrow/analytics/blob/master/examples/iron-router/iron-router.html#L2) or [flow-router](https://github.com/okgrow/analytics/blob/master/examples/flow-router/client/flow-router.html#L2) or [react-router](https://github.com/okgrow/analytics/blob/master/ex

[2017-04-10 08:47] catimos commented on #167
It looks like iron router updates document.title of the previous page in history, that is why on pressing back button page view picks up the wrong title.

In case analytics is not sent automatically [autorun = false] , then with iron-router when is the best place  to manually log a page view event ? how do we know page is fully loaded ? onAfteraction may be run multiple times, onRun may not have t

[2017-04-12 07:52] vmdao opened #170 "Disable Autorun not work"
Hi pro,
I config autorun is false but not disble tracking.
I use Flow router + React.
Thankyou!

[2017-04-12 08:02] vmdao commented on #170
Sovled, I am update version 2.1.3
Thank okgrow :)

[2017-04-12 15:51] bergjs commented on #115
I'm having the same issue. Intercom works on iOS, browser and when running on Android in development. But when I build the app it does not work on Android anymore. Did anyone find a solution for this?

[2017-04-14 05:03] cfnelson commented on #170
Glad you noticed the update with the fix.

[2017-04-14 05:03] #170 closed, assigned to nobody

[2017-04-14 05:24] cfnelson commented on #167
@catimos I haven't used iron-router in over 2 years now, I believe you may find more helpful answer by asking over on iron router's repo. A quick fix is to use v1.0.9 of this package if you are using the routes `name` for analytics. I would recommend using an external package that updates the documents head on dom load.

However if you are wondering on ways to know when the page is fully loaded yo

[2017-04-15 08:46] bergjs commented on #115
I set up a [minimal repo](https://github.com/bergjs/analytics-test) and I can reproduce the issue there. Please give it a try.

### Working part

`git clone https://github.com/bergjs/analytics-test.git`

`cd analytics-test`

`npm install`

`meteor --settings settings.json`

The app should start and should show the Intercom widget. Clicking on "Launch Intercom" should work.

### Not working part

N

[2017-04-15 18:55] bergjs commented on #115
I had to add the `cordova-plugin-whitelist` package and set the correct access rules. Using the hint from @AnthonyAstige (Android Studio >> Tools >> Android Device Monitor >> LogCat) and filtering for "whitelist" I found all the urls that were still blocked. This is the relevant part of my `mobile-config.js`

[code]

This cost me so much time that I think it would be great if it was mentioned in t

[2017-04-18 04:58] cfnelson commented on #115
@bergjs Thanks for the detailed response and providing your solution for others. We would be happy to accept a PR from yourself updating the Readme (otherwise we will update it this Friday). I think it would belong after the [Browser Policy](https://github.com/okgrow/analytics#browser-policy) section.

[2017-04-18 13:50] bergjs commented on #115
Happy to help: https://github.com/okgrow/analytics/pull/171

[2017-04-28 20:45] mariagandica opened #172 "Sign up event"
Hello,
I'm using VulcanJs to create my app and I added the analytics, I'm using Mixpanel.

With the configuration, I got working the basic events: loaded a page and sign in. My problem is the sign up event, I got this error:

<img width="1057" alt="screen shot 2017-04-28 at 3 39 26 pm" src="https://cloud.githubusercontent.com/assets/9203095/25546487/ee13c7da-2c28-11e7-9597-c5531cbb96b6.png">

And,

[2017-04-28 22:36] cfnelson commented on #172
@mariagandica We only track the sign in/sign out event which is mentioned in our readme [here](https://github.com/okgrow/analytics#log-signinsignout).

The error message you have provided doesn't provide much insight for us to help you. Our package doesn't invoke `createUser` or track the sign-up event.

The stack trace doesn't contain any mention of our analytics package. Can you provide more det

[2017-04-28 22:36] #172 closed, assigned to nobody

[2017-04-28 23:59] mariagandica commented on #172
The problem is when I use "analytics.track" in CustomCallbacks, it says that it's undefined

[2017-04-29 00:18] cfnelson commented on #172
@mariagandica Can you provide a gist or a minimal working reproduction of your bug. Otherwise it is hard to help you. You can check out the [examples](https://github.com/okgrow/analytics/tree/master/examples) to see how you can use the analytics package. If `analytics` is undefined then you should make sure that you have correctly imported and instantiated it.

[2017-05-03 14:35] Floriferous opened #173 "Global disable in certain conditions"
MixPanel provides an API to disable tracking like this: `mixpanel.register({"$ignore":true})`. Is there a way to do the same with the entire analytics package?

My specific use case is the following: I have 1 domain with 2 subdomains linking to the same app and server: www.app.com and demo.app.com. Going to the demo subdomain activates a demo mode for the app that lets the user quickly see what an

[2017-05-04 19:18] cfnelson commented on #173
@Floriferous We only support a global disable for auto-tracking page views. You can read about in the ReadMe [here](https://github.com/okgrow/analytics#page-views), along with how to track page views or other events manually.

You can check out more detailed documentation on tracking with mixpanel [here](https://segment.com/docs/integrations/mixpanel/).

[2017-05-04 19:18] #173 closed, assigned to nobody

[2017-05-05 05:33] ycpatel813 opened #174 "Issue with Modal"
Hello, I found this is a very awesome module for Analytics. but I have a small issue in this.
I am using a model on my website and now I want to track model page opened closed.
so I have to add a manual page for an open model for that I have to use `"autorun"  : false`. But this will stop looking my normal page view. so is it possible to use both simultaneously?

Thank you.

[2017-05-05 06:09] ycpatel813 commented on #5
Hello tsemana I am also facing same issue.
If you want to produce this issue just run flow-router example with `autorun:false` in settings.json.
Add analytics.page('PAGE') in flow.router.js.

Thank you.

[2017-05-05 16:16] cfnelson commented on #174
@ycpatel813 Yes, you can do both. You just need to call `analytics.track()` as mentioned in the Readme [here](https://github.com/okgrow/analytics#event-tracking). You can find more detailed instructions [here](https://segment.com/docs/sources/website/analytics.js/#track).

All you need to do is call a `analytics.track` on your modal `open` & `close` events.

[code]
[code]

[2017-05-05 16:16] #174 closed, assigned to nobody

[2017-05-08 03:36] lifeofjer opened #175 "autorun: false not disabling - still logging page views as events"
I have elected to set _autorun: false_ to manually control Google Analytics Behaviors and Events. Objective is to log page views via Behaviors _and_ clicks, form submissions, payments via Events. Manual triggers are working as expected.

But, even with _autorun: false_ set in settings.json, the system still logs page views as Events. Cannot determine how to disable.

**Example GA Events**
<img wid

[2017-05-08 04:53] ycpatel813 commented on #174
@cfnelson You are 100% right using `track` I can easily do that but if i need to check average time of modal open is this possible using that?
May be No. So I am creating virtual page for modal and set it.
Exp:
    analytics.page('Virtual/modal/XYZ');

For use of analytics.page, I need to use `"autorun" : false`.
This is not looking my normal page view.
So i have opened this issue.

Hope you under

[2017-05-09 13:02] nickredmark opened #176 "TypeError: Package['okgrow:analytics'] is undefined"
After reinstalling meteor and my app on a new computer (ubuntu 16.04), the client renders a white screen, the console shows the following error:

[code]

What causes the error is global-imports.js

[code]

Relevant settings:

[code]

.meteor/packages:

[code]

versions

[code]

I'm using meteor 1.4.4.2 and okgrow:analytics 2.1.3

[2017-05-09 22:43] cfnelson commented on #176
@nmaro I haven't seen the usage before for `global-imports.js`, I am curious to know what the usage for it is? Also where is this file located (client/server) as that may have an effect? What versions of meteor and `okgrow:analytics` did this work with in the past?

If it has worked in the past then I would suggest rolling back as the latest version of analytics is designed for usage with `imports

[2017-05-12 19:25] ghost commented on #168
Wondering if we should close this now that v3 is officially out.

[2017-05-12 19:46] ghost commented on #175
I have not been able re-produce this issue. But I want to be sure I understand it correctly.

When you set `"autorun": false` automatic page tracking is _still_ happening?

[2017-05-13 01:21] dcantatore commented on #176
I'm having the same issue on my local install, anything I can do to help trouble shoot? Same exact error.

I pulled it from my install for now

[2017-05-16 14:47] nickredmark commented on #176
`global-imports.js` is part of the meteor client build. Strangely `okgrow:analytics` worked for the very same version, reinstalling meteor and the app on a new machine led to the problem.

[2017-05-18 13:39] macrozone opened #177 "reduce file size"
with meteor 1.5. and the new bundle-analyizer you get a good picture of the bundle size.

This library is huge (166kb) and contributes to 10% of the file size. Is it possible to reduce file size? we only need google analytics.

okgrow:analytics version 2.1.1

[2017-05-19 15:25] #168 closed, assigned to nobody

[2017-05-19 17:28] ghost commented on #176
We are unable reproduce this problem with a brand new Meteor app and `okgrow:analytics` v2.1.3.
We are able to reproduce what looks like a similar problem with a brand new Meteor app and `okgrow:analytics` v3.0.0.

Can you verify if this is the full error message you're seeing:

[code]
Can you copy the full error your seeing.

[2017-05-19 20:52] charlesdeb commented on #176
I have got a similar error - although they look different between Chrome and Firefox on Win 10. In Chrome, the console shows me the following error, but still shows me the page I want (and I can see my page hits in real time on Google Analytics - so OKGrow is working to some extent):
[code]
No mention here of OKGrow errors. However, FF doesn't show me the page I want (it runs into routing errors),

[2017-05-20 16:38] u-rogel commented on #176
If it helps, this is the error I am getting:

[code]

I use windows 7 64-bit, meteor-1.4.4.2, .okgrow:analytics 3.0.0

[2017-05-23 17:37] SimonatoLucaManuele commented on #176
If it helps, I am getting the same @cowCrazy error both in MacOs Sierra and DigitalOcean Ubuntu 16.04

[2017-05-24 22:45] cfnelson commented on #176
**TEMP SOLUTION**: Please use `okgrow:analytics@2.1.3`, e.g (`meteor add okgrow:analytics@2.1.3`).

We have been unable to reproduce the error on `v2.1.3`. The latest version `v3.0.0` does have the bug above which we will work at resolving asap. PR's are encouraged.

[2017-05-29 12:43] Floriferous commented on #87
+1

[2017-05-29 13:15] emilbruckner opened #178 "Mixpanel Clarification"
All data I see in Mixpanel is "Loaded a page"
Is this the expected behaviour?
How would I setup tracking people?

Thanks

[2017-05-29 19:10] virtuman commented on #176
same here on ubuntu 16.04 and centos7 linuxes

[2017-05-31 13:16] townmulti commented on #178
+1 on this! Also for Mixpanel clarification, when loading data in a pagination event, I'm getting a `GET` http status code 414 (URI too Large) error in the console. Is there some way to truncate what's being sent to Mixpanel?

[2017-06-01 10:46] kubami opened #179 "error importing in Meteor 1.5 - Path must be a string. Received undefined"
Hi, importing of okgrow:analytics , @okgrow/auto-analytics is broken in Meteor 1.5.

After upgrading to Meteor 1.5 I get:

[code]

Debugging the `ImportScanner` (`/tools/isobuild/import-scanner.js:617`), reveals that the two variables in the `ImportScanner.prototype._getRelativeImportId` have values as follows:

[code]

removing okgrow:analytics from the project fixes the problem.

I don't know en

[2017-06-01 10:55] kubami commented on #179
The issue is probably with the npm package actually not the meteor package.
Maybe it has something to do with the fact that you are using _scoped_ npm pacakge?
The `@okgrow/auto-analytics`

[2017-06-01 11:55] robertdavid010 commented on #179
Can confirm same issue, and the description above was accurate for our case as well.

[2017-06-01 16:40] Almaju commented on #179
Same here!
Thanks for the package and the good work okgrow :)

[2017-06-01 17:41] cfnelson commented on #179
@kubami Thanks for reporting this, I believe you are on the right track and the importing of `@okgrow/auto-analytics` is causing issues.

Could you try using `okgrow:analytics@2.1.3`, e.g (`meteor add okgrow:analytics@2.1.3`) as a short term solution until the issue is resolved.

[2017-06-01 18:15] ipstas opened #180 "error in console with ad blocker"
Is it possible to use a warning instead of the error for ad blocker?
The reason is there are a lot of error tracking services which submit errors in DB. And ad blocker errors are not the errors a developer can fix, so they are useless

[2017-06-04 19:25] townmulti opened #181 "Setup google analytics track event with custom data"
When I visit Google Analytics dashboard I see that my event labels and values are not being set. The event actions are set correctly in the dashboard.  I have not put `autorun: false` in my settings file.

This is how I'm calling track within a meteor Validated Method:

[code]

I can see the correct data coming over when I put this in the root react constructor:

[code]

How should I form my track

[2017-06-04 22:09] malsher commented on #179
Same issue for me too, but the recommendation of okgrow:analytics@2.1.3 has provided a temporary solution.

[2017-06-06 17:26] cfnelson commented on #180
@ipstas Are you referring to a specific error thrown by this package or the errors thrown by `segment` or the `analytics service` you are using?

We currently log `console.error('Missing analyticsSettings in Meteor.settings.public');` otherwise the only other error we log is [here](https://github.com/okgrow/auto-analytics/blob/master/src/index.js#L57).

Most error tracking services provide the abi

[2017-06-06 19:31] ipstas commented on #180
Not sure where it comes from. This is what I got in the console:
`XMLHttpRequest cannot load http://api.mixpanel.com/decide/?verbose=1&version=1&lib=web&token=f77146a5e84dcd3e6aa6dcb474e11ba8&ip=1&_=1496775850324. Redirect from 'http://api.mixpanel.com/decide/?verbose=1&version=1&lib=web&token=f77146a5e84dcd3e6aa6dcb474e11ba8&ip=1&_=1496775850324' has been blocked by CORS policy: Redirect location

[2017-06-09 17:00] ghost commented on #176
Please try version 3.0.1. We believe this fixes this issue.

@SimonatoLucaManuele @virtuman @cowCrazy @charlesdeb @nmaro @dcantatore

[2017-06-09 17:01] ghost commented on #179
Please try version 3.0.1. We believe this fixes this issue.

cc: @kubami @robertdavid010 @Almaju

[2017-06-09 18:13] arggh commented on #179
`3.0.1` fixed this for me, thanks!

[2017-06-12 02:37] v3rron commented on #176
Still having an issue, when deploying with `mup` on clean staging **Ubuntu 16.04** server. Currently `versions` file says that I'm using `okgrow:analytics@3.0.1`. Here's the error from the client:
[code]
**UPDATE**: even after downgrading to 2.1.3, still facing the same issue so I had to uninstall it for my server to start working again.

[2017-06-12 15:00] elie222 opened #183 "Integrating Google Optimize with this package"
Has anyone tried to integrate Google Optimize with this package?

Run into any issues? Or have pointers on how best to do it?

[2017-06-15 22:19] macrozone commented on #177
maybe we can use something like https://github.com/meteor/meteor/issues/8745 ?

[2017-06-16 14:23] pauldowman commented on #179
@ccuilla Are we confident to close this?

[2017-06-16 14:28] ghost commented on #179
@pauldowman I believe this is fixed. Was waiting for confirmation from people who encountered this problem before closing. Just cc the others in this thread. Should have done that before.

[2017-06-16 14:36] ghost commented on #179
Fixed with version 3.0.1.

[2017-06-16 14:36] #179 closed, assigned to nobody

[2017-06-16 14:36] ghost commented on #176
Fixed with version 3.0.1.

[2017-06-16 14:36] #176 closed, assigned to nobody

[2017-06-16 18:02] cfnelson commented on #180
@ipstas That error message seems to suggest it is a browser policy setting that is causing your problems. Unless this is only occurring with ad-blockers?

I also noticed that mixpanel is coming over `http`. I would recommend that you switch to `https`, you will get warnings or errors for that if your site is served over `https`.

[2017-06-16 18:02] #180 closed, assigned to nobody

[2017-06-16 18:16] cfnelson commented on #178
@emilbruckner Only pages are tracked by default. If you have meteors `accounts` package installed then this package will track signing in/out by calling `identify`. If you want to track custom events you will need to set that up yourself with `analytics.track()`.

For more details on specifically mixpanel I would take a look at the doc's from segment.io for the [mixpanel](https://segment.com/docs/

[2017-06-16 18:36] cfnelson commented on #178
@townmulti How long is your URI? If the above error is for `analytics.page()` segment.io's `analytics.js` library automatically collects/sends the `title`, `path`, `url`, `referrer`, and `search`. You would have to override the properties automatically collected for the specific page causing you issues by hardcoding their values.  Example below

[code]

Take a read of segment.io's specs for page [

[2017-06-16 18:36] #178 closed, assigned to nobody

[2017-06-16 18:39] malsher commented on #179
I have 3.0.1 working on multiple production applications hosted on Galaxy without errors.

Thank you for turning this around so quickly.

[2017-06-16 18:48] cfnelson commented on #181
@townmulti Where in your Validated Method  do you have the `track` being called? And you confirm that the method is running on the client and triggering the `analytics.track()`?

I would suggest moving the `analytics.track()` out of the method and first test if you are in-fact receiving the event. You can also call `analytics.debug()` in your console and do a refresh to get debugging to show in yo

[2017-06-16 18:48] #181 closed, assigned to nobody

[2017-06-16 18:57] cfnelson commented on #183
@elie222 We haven't personally set it up before, but you should be able to do it in the `analytics.ready()`, see segment.io's docs on [multiple trackers](https://segment.com/docs/integrations/google-analytics/#multiple-trackers).

I would be curious to know how it goes ? Would be happy to have some additional documentation if you have been successful with it.

[2017-06-16 18:59] cfnelson commented on #175
@jeremyccrane  We are going to close the issue as we have not been able to reproduce. Please let us know if you are still having problems.

[2017-06-16 18:59] #175 closed, assigned to nobody

[2017-06-18 16:42] townmulti commented on #181
Thanks! I see the events and labels showing now.

[2017-06-22 04:19] ipstas commented on #180
Yes, that was coming with ad-blockers only. If I switch them off, I have no errors

[2017-06-22 18:16] jlichti commented on #177
The library also seems to pull in meteor-node-stubs for me which adds another 300kb.
I'm testing and reduced my bundle by about 600kb without okgrow:analytics.

[2017-06-23 12:24] juliomac commented on #158
I also had the same issue, stuck on 1.0.9, but with a different solution and I hope this helps others.

I ran the following command to check for any package dependency:
```for p in `meteor list | grep '^[a-z]' | awk '{ print $1"@"$2 }'`; do echo "$p"; meteor show "$p" | grep -E '^  [a-z]'; echo; done```
Credit to this [answer](https://stackoverflow.com/questions/26153603/how-to-show-all-package-de

[2017-07-14 14:57] Floriferous commented on #177
@jlichti Just realised it is indeed this package that pulls in meteor-node-stubs, did you figure out why?

Got the same bundle-size reduction as you when removing it, huge!

[2017-07-16 10:14] jlichti commented on #177
I didn't dig into it since it was easy for me to just replace with a npm package.

[2017-07-21 16:38] ghost commented on #163
We plan to address this issue by unbundling the currently embedded customized Segment `analytics.js` module which will allow much greater flexibility by having users of _this_ package install what they need from Segment’s module.” You will see this coming in version 4.0.0 of _this_ package and version 2.0.0 of the https://github.com/okgrow/auto-analytics package in the next couple of weeks.

[2017-07-21 16:38] ghost commented on #155
We plan to address this issue by unbundling the currently embedded customized Segment `analytics.js` module which will allow much greater flexibility by having users of _this_ package install what they need from Segment’s module.” You will see this coming in version 4.0.0 of _this_ package and version 2.0.0 of the https://github.com/okgrow/auto-analytics package in the next couple of weeks.

[2017-07-21 16:38] ghost commented on #92
We plan to address this issue by unbundling the currently embedded customized Segment `analytics.js` module which will allow much greater flexibility by having users of _this_ package install what they need from Segment’s module.” You will see this coming in version 4.0.0 of _this_ package and version 2.0.0 of the https://github.com/okgrow/auto-analytics package in the next couple of weeks.

[2017-07-21 16:39] ghost commented on #90
We plan to address this issue by unbundling the currently embedded customized Segment `analytics.js` module which will allow much greater flexibility by having users of _this_ package install what they need from Segment’s module.” You will see this coming in version 4.0.0 of _this_ package and version 2.0.0 of the https://github.com/okgrow/auto-analytics package in the next couple of weeks.

[2017-07-21 16:39] ghost commented on #87
We plan to address this issue by unbundling the currently embedded customized Segment `analytics.js` module which will allow much greater flexibility by having users of _this_ package install what they need from Segment’s module.” You will see this coming in version 4.0.0 of _this_ package and version 2.0.0 of the https://github.com/okgrow/auto-analytics package in the next couple of weeks.

[2017-07-21 16:39] ghost commented on #83
We plan to address this issue by unbundling the currently embedded customized Segment `analytics.js` module which will allow much greater flexibility by having users of _this_ package install what they need from Segment’s module.” You will see this coming in version 4.0.0 of _this_ package and version 2.0.0 of the https://github.com/okgrow/auto-analytics package in the next couple of weeks.

[2017-07-21 16:39] ghost commented on #70
We plan to address this issue by unbundling the currently embedded customized Segment `analytics.js` module which will allow much greater flexibility by having users of _this_ package install what they need from Segment’s module.” You will see this coming in version 4.0.0 of _this_ package and version 2.0.0 of the https://github.com/okgrow/auto-analytics package in the next couple of weeks.

[2017-07-24 11:54] Floriferous commented on #177
Which package did you use, and did it do any sort of automatic logging?

[2017-07-24 12:43] jlichti commented on #177
I used this package: https://github.com/react-ga/react-ga

I'm using flow router on this project so I added a trigger:
`FlowRouter.triggers.enter((context, redirect) => {
  logPageView();
...
});`

And my logPageView() method is:
`const logPageView = () => {
  ReactGA.set({ page: window.location.pathname + window.location.search });
  ReactGA.pageview(window.location.pathname + window.location.sea

[2017-08-03 08:41] thebarty commented on #76
Hi guys, just letting you know that it would be really cool to have server-side support!!

[2017-08-03 12:18] thebarty opened #185 "Using GoogleAnalytics via segment.io with disable autorun. Will GA get all data?"
I am using this package and ONLY have segment.io enabled.
I disabled "autorun", as I read in some metric-tutorials, that "tracking less is more". So in Mixpanel I only want the "less"-data, BUT in GoogleAnalytics I want ALL!

QUESTION:
**When only routing thru "segment.io" and `"autorun": false`: Will GoogleAnalytics still be able to give ALL statistics, or is it NOT getting ALL data (as I am only

[2017-08-04 09:07] thebarty commented on #185
By the way: I just noticed that GoogleAnalytics "live preview"mode does NOT work when using the above setup.

Any ideas?

[2017-08-04 12:35] RichardLitt commented on #76
Thanks for the note, @thebarty! Currently, this is waiting on community contributions, as it isn't being prioritized. If you'd like to take a crack at it, we'd be happy to review any PRs.

[2017-08-04 12:45] RichardLitt commented on #185
Thanks, @thebarty. We'll look into this as soon as we can.

Regarding your second question: have you tried manually logging a page view, using `analytics.page('page name')`? That's what the README suggests if you have autorun disabled.

[2017-08-04 16:15] thebarty commented on #185
Yes, of course: I have manuel page- and track-events placed. Those, plus login events, are displayed in segments debugger

[2017-08-04 21:17] cfnelson commented on #185
@thebarty If you disable the `autorun` then you will only receive the events where you are manually calling the `page` or `track` events. By default any`track` or `page` call will send to all the services you have initialised. `autorun` only stops the automatic tracking that we have setup.

If you wish to filter which events go where you have two options:

- Manually set the destinations for each

[2017-08-04 21:17] #185 closed, assigned to nobody

[2017-08-22 13:47] znat opened #186 "How to add more user info when user logs in?"
By default, the package only logs `email` and `_id` when a user logs in. How can I add more fields such as name or first name?

[2017-08-22 13:53] RichardLitt commented on #186
Good question. Where do you want the fields to be logged? In Meteor?

You may be able to fire another event, and include any information in that. Alternatively, the email and _id will be associated to the Meteor.userId when `identify` is called, according to the README, so you could store the information with Meteor and use that.

Someone else will know more. We'll get to the bottom of this as soo

[2017-08-22 14:07] znat commented on #186
Thanks for replying so quickly!
The user signs up with a first and last name (added to the profile). I am using plain Accounts methods to create accounts and log in users. Is there a way to disable automatic identification so I could call `identify` myself?

[2017-08-22 14:19] RichardLitt commented on #186
Good question. I am not sure. One of the other maintainers will know. We'll get back to you as soon as we can. :)

[2017-08-23 03:46] artgo opened #187 "Does this project support FB Pixel?"
If yes, how do I set it up? :)

[2017-08-23 03:50] RichardLitt commented on #187
At the moment, it doesn't explicitly. No one has asked before.

That doesn't mean it can't! Take a look at the code - if it seems like a pull request is possible, please open one. We'd be happy to look at it.

[2017-08-23 11:42] pauldowman commented on #187
It doesn't right now because we are using a custom build of analytics.js which only supports a few of the most common integrations. But we're currently working on a way to use the full version with all integrations included (or a version that you build yourself with only specific ones).

[2017-08-23 11:42] #187 closed, assigned to nobody

[2017-08-23 14:48] jzabala opened #188 "Is there a way of disabling automatic identification?"
Hi, is there a property or something like that to disable the automatic identification?

[2017-08-23 17:34] znat opened #189 "No data sent to Google Analytics"
Hi,
I don't see any data on Google Analytics, but events are sent to Amplitude.
Do you have any idea of what the problem could be?

[code]

[2017-08-23 19:59] alextondello commented on #186
I also don't now if we can disable the automatic identification, but in my app I do send more information about the user to Google Analytics, Amplitude and Intercom with success. You could do something like this on the client:

[code]

[2017-08-29 12:17] cfnelson commented on #188
@jzabala There currently isn't in this package, if you don't want to do any automatic identification and only automatically track page views. Remove this package and use the base package [auto-analytics](https://github.com/okgrow/auto-analytics) that this package depends on.
e.g -
`meteor remove okgrow:analytics`
`meteor npm install @okgrow/auto-analytics --save`

We would be happy to accept a PR

[2017-08-29 12:17] #188 closed, assigned to nobody

[2017-08-29 12:20] cfnelson commented on #189
@znat Are you still having issues with Google Analytics? What happens if you remove the `"autorun": false`? Does GA work for you then? Are you potentially able to provide a minimal reproduction?

[2017-08-29 12:28] cfnelson commented on #183
Closing, but we will be curious to hear about any updates. 😃

[2017-08-29 12:28] #183 closed, assigned to nobody

[2017-08-29 12:46] cfnelson commented on #186
@znat There is currently no way to disable the automatic logging of the `sign in/sign out` events. We would be happy to accept a PR for this.

I believe @alextondello suggestion would be the best way to send additional information about your user. You will need to ensure any extra data you want to use has been published to the client.
We would be happy to accept a PR for something like this.

You

[2017-08-29 12:47] #186 closed, assigned to nobody

[2017-08-29 13:11] jzabala commented on #188
Thanks for your response.
I ended doing that.

[2017-08-29 13:15] cfnelson commented on #188
@jzabala I should have mentioned if you want to see how to set it up in a Meteor App, check out the React Router example [here](https://github.com/okgrow/auto-analytics/tree/master/examples/react-router).

[2017-09-02 14:47] sergical opened #190 "Does this work with React Router v4?"
Can't seem to figure out how to set it up 😢

[2017-09-02 15:14] RichardLitt commented on #190
Good question! It looks like we don't have a guide for that, if the setup is different. Let's add that to the README when we figure it out.

For now, I'm not sure if it does worth with React Router v4. Someone else here should be able to help soon.

[2017-09-03 07:01] cfnelson commented on #190
@416serg v3+ of this package is router agnostic. It will work with any router (including react router v4+) and by default it uses the `document.title` as the page name for reporting to your analytics service.

You can follow a similar approach as suggested in the Readme, or use [React Helmet](https://github.com/nfl/react-helmet) which is what we have been using with React Router v4.

[2017-09-03 15:51] RichardLitt commented on #190
I made a PR to add this to the documentat. @416serg Does this help?

[2017-09-16 00:13] #190 closed, assigned to nobody

[2017-09-16 00:14] #189 closed, assigned to nobody

[2017-09-30 08:40] drone1 opened #192 "Basic Google Analytics setup does not seem to work"
Hello.

I installed with:

`   meteor add okgrow:analytics
`

My settings-prod.json looks like this:

	"public": {
		...

		"analyticsSettings": {
			"Google Analytics" : { "trackingId": "UA-xxxxxxxx-1" }
		}
	}

Console on prod shows events being fired off, e.g.:

`   analytics:integration:google-analytics page with Array(1) 4ms
`

But on the GA realtime page, I can't get my test session to show

[2017-10-02 21:48] cfnelson commented on #192
@drone1 Have you been able to resolve your issue? From what you have stated you have done it should be working. The fact that you have it logging page views with `analytics.debug()` means that the `analytics` package is working and tracking your page changes.

If I had to guess it is most likely something wrong with your setup on the Google Analytics side of things.

[2017-10-03 02:53] drone1 commented on #192
Like what though? The GA side simply requires that you use the correct
tracking ID and your package takes care of the rest, no?
On Mon, Oct 2, 2017 at 2:48 PM Charles Nelson <notifications@github.com>
wrote:

[2017-10-03 14:17] cfnelson commented on #192
@drone1 I would have to see the setup myself to give any insight. If you are seeing `analytics:integration:google-analytics page with Array(1) 4ms` then `GA` has been intialised and is reporting the events. The only thought I can think of atm is if you are testing locally and have setup GA to ignore events from `localhost`. You could also try running one of the examples and seeing if it works. Oth

[2017-10-05 20:11] mozfet opened #194 "Custom Event Tracking"
Hi,

Got auto analytics working perfectly, but I am struggling making a customer event and linking it to a Google Analytics Goal.

I'm using Meteor 1.5.5.2, okgrow:analytics@3.0.1 (Atmosphere), "@okgrow/auto-analytics": "^1.0.2", (NPM). On the client I import the package ``import { analytics } from '@okgrow/auto-analytics';```.

Inside an autorun (reactive code in a node fiber), I detect the payme

[2017-10-06 03:10] craigdrayton commented on #108
I'm encountering the same issue.

If I have Google Analytics, Intercom and Mixpanel defined in settings.json it's working.
If I add Hubspot to settings.json also, no analytics are getting through to Mixpanel.

[2017-10-06 13:12] RichardLitt commented on #194
Thanks @mozfet. We'll take a look as soon as we can.

[2017-10-06 15:34] cfnelson commented on #194
@mozfet If you are seeing the event logging with `analytics.debug()` then it is being captured by `ga` and is working.

I would suggest that there is something wrong with the setup on google. There is no Google Tag Manager integration with this package. The segment docs might be able to help you out [here](https://segment.com/docs/spec/track/#event) & [here](https://segment.com/docs/destinations/g

[2017-10-06 18:57] sergical commented on #179
running into this issue with `3.0.2` 😢

[2017-10-06 19:16] cfnelson commented on #179
@416serg What version of Meteor are you running? Are you able to see what version of the npm version of auto-analytics is installed?

[2017-10-06 19:19] sergical commented on #179
@cfnelson `METEOR@1.5.2` and

[code]

[2017-10-06 19:20] cfnelson commented on #179
@416serg Thanks, we are looking into it now. Hopefully can resolve quickly. 👍

[2017-10-06 19:43] cfnelson commented on #179
@416serg We have tested on the examples and were unable to reproduce, however the examples are running `Meteor 1.4.3.2`. When we bumped to Meteor version `1.5.2` the bug was reproducible. We will have to look into this a little more as it looks like it may take a little longer to resolve.

[2017-10-06 19:58] sergical commented on #179
Thanks for the heads up!

On Fri, Oct 6, 2017 at 3:43 PM Charles Nelson <notifications@github.com>
wrote:

--
Sincerely, Sergiy Dybskiy Sent from Gmail Mobile

[2017-10-07 00:47] dobesv opened #195 "Update analytics.js"
The latest version of the analytics.js support Google Optimize by specifying the `optimize` parameter in the settings.  However, it doesn't appear that the current `okgrow/analytics` build has this.

https://github.com/okgrow/analytics.js/blob/master/analytics.js#L9205

[2017-10-07 14:50] mozfet commented on #194
I could not get it working and decided to drop GA altogether and built a simple builtin mongodb collection based tracker without any external dependencies.

[2017-10-07 14:50] #194 closed, assigned to nobody

[2017-10-08 11:39] abdelrahman-elkady opened #196 "Mixpanel integration not reporting on a specific project"
I have Mixpanel integrated in multiple meteor projects, trying to integrate with some project that I am working on for a while seems to not be reporting any data.

No errors on server/client is reported, using `3.0.1` because of the issue appearing with `meteor 1.5.2.2` in #179 with `3.0.2`

I am sure that `Meteor.settings.public.analyticsSettings.Mixpanel` is set correctly to `{ "token": "TOKEN",

[2017-10-08 11:55] tab00 opened #197 "TypeError: Cannot read property '0' of undefined after update to version 3.0.2"
I got the following error after updating to the latest version and re-running my app:

TypeError: Cannot read property '0' of undefined
    at toDosPath (C:\Users\-\AppData\Local\.meteor\packages\meteor-tool\1.5.2\mt-os.windows.x86_32\tools\static-assets\server\mini-files.js:41:8)
    at C:\Users\-\AppData\Local\.meteor\packages\meteor-tool\1.5.2\mt-os.windows.x86_32\tools\static-assets\server\min

[2017-10-08 14:55] RichardLitt commented on #197
I'm not sure that this is a problem with analytics. It looks like an issue with meteor-tool.

@cfnelson Any idea on this one?

[2017-10-08 16:47] Almaju commented on #179
Hello @ccuilla ! It used to work with 3.0.1 but indeed, same problem happening with 3.0.2. I had to add a version constraint. Thanks for the great work guys!

[2017-10-08 23:06] cfnelson commented on #197
@tab00 As a temp work around please revert back to `okgrow:analytics@3.0.1`. We believe the issue is related to changes in Meteors build processes in v1.5+. We will be opening an issue over on meteor's repo to try to better understand the cause.

[2017-10-09 00:33] cfnelson commented on #197
@RichardLitt I opened an issue up on [meteor](https://github.com/meteor/meteor/issues/9193), however I am unsure if it's a bug with the Meteor build tool or an issue due to the way we published this package. Hopefully someone will respond to the issue and provide some insight. 🔥

[2017-10-09 00:38] RichardLitt commented on #197
@cfnelson Doesn't look like this should have been caused on our end. Hope we get some light on this! Cool problem.

[2017-10-09 00:40] cfnelson commented on #196
@abdelrahman-elkady Do you see any events being fired when you have enabled `analytics.debug()`? Don't forget to refresh browser after you enabled `analytics.debug()`.

You should at least see the analytics get initialized or a warning/error if it doesn't?

You can also run one of the included examples in this repo to see GA + Mixpanel working. Are you by any chance only using `Mixpanel` or with a

[2017-10-09 09:10] abdelrahman-elkady commented on #196
@cfnelson Nothing fired when `analytics.debug()` is enabled, actually, things are really weird, in other projects, when I remove the key from `settings.json` it fires a warning in the console, tried this and nothing is showing too !

The same exact mixpanel project ( the same key ) is working fine on other projects ! but in this specific project it is not, not sure if it is something related to th

[2017-10-09 11:18] desoukya commented on #196
@abdelrahman-elkady is it possible to reproduce this behavior by creating a separate repo/project with the same exact meteor version and packages? If so, this could be useful for debugging the issue.

[2017-10-09 11:32] abdelrahman-elkady commented on #196
@desoukya unfortunately, it is working with the same packages on a bare project, and even with the exact `settings.json` structure

[2017-10-09 13:04] RichardLitt commented on #194
Thanks for letting us know, @mozfet. Sorry to hear we weren't able to get this working for you!

If you run into issues with your local tracker, later, please do feel free to come back and we can see if we can help more. This does work for others, so it's likely there was something in your setup that we haven't documented properly as an issue to look for.

[2017-10-09 15:08] fadomire commented on #179
`meteor add okgrow:analytics@=3.0.1` for the short term fix while waiting. putting it here as i forgot the `=` and it was installing `3.0.2`

[2017-10-10 00:10] drone1 commented on #192
Giving it a bit of time seemed to fix the issue, by the way. After a day or so, data started showing up.

Thanks for your time.

[2017-10-10 00:10] #192 closed, assigned to nobody

[2017-10-10 00:12] RichardLitt commented on #192
@drone1 Really glad to hear that! It might be worth adding a line to the README about this, for others. Would you be interested in helping PR that?

[2017-10-10 00:18] drone1 commented on #192
Yeah, will do that. Good call.
On Mon, Oct 9, 2017 at 5:12 PM Richard Littauer <notifications@github.com>
wrote:

[2017-10-10 20:06] mozfet commented on #194
Thanks for the support.

Actually... this whole incident has been a blessing in disguise! We now have a near perfect privacy policy. No ads. No tracking. No Google. No nothing but [ExpertBox.com](https://www.ExpertBox.com) (alpha testers wanted for our brand new concept in knowledge automation). Only users and their data - its actually a business differentiator. Really good privacy!

My in-house t

[2017-10-11 14:01] RichardLitt commented on #194
@mozfet Pretty cool! Thanks for explaining your system now. Good luck going forward. If you do implement some sort of tracking system that requires okgrow/analytics, we'll still be here. :)

[2017-10-11 14:44] chongwang87 opened #199 "3.0.2 break meteor"
after update to 3.0.2, meteor failed to startup. showing error as below

downgrade to 3.0.1 work fine

[code]

[2017-10-11 14:49] jancurn commented on #199
Same here, we're getting the following error:

[code]

We have the latest version of everything.

[2017-10-11 15:10] abdelrahman-elkady commented on #196
Bug found, this was happening because some other package sets `window.onload`, this must be documented somewhere, it is only documented here: https://github.com/okgrow/auto-analytics/blob/81bd954507f8c25c10a8c55f5d3074b3774f7f46/src/index.js#L100

[2017-10-11 15:10] #196 closed, assigned to nobody

[2017-10-11 16:17] cfnelson commented on #199
@chongwang87 @jancurn  Please revert to `v3.0.1`. Closing this issue for the original issue opened, we are tracking the problem here at https://github.com/okgrow/analytics/issues/197 and opened an issue over on meteor https://github.com/meteor/meteor/issues/9193

[2017-10-11 16:17] #199 closed, assigned to nobody

[2017-10-11 16:46] cfnelson commented on #199
@chongwang87 @jancurn We have released `v3.0.3` please update to the latest and everything should be working again! 🎉  😃  The update also includes two fixes to the `data.title` for usage with react-router v4 and the `referrer` now behaves as aspected when using back/fwd buttons. 🔥

[2017-10-11 16:47] cfnelson commented on #197
@tab00 We have released `v3.0.3` please update to the latest and everything should be working again! 🎉  😃  The update also includes two fixes to the `data.title` for usage with react-router + react-helmet and the `referrer` now behaves as aspected when using back/fwd buttons. 🔥

[2017-10-11 16:47] #197 closed, assigned to nobody

[2017-10-11 16:50] cfnelson commented on #179
@416serg @Almaju @fadomire We have released `v3.0.3` please update to the latest and everything should be working again! 🎉  😃

The update also includes two fixes to the `data.title` for usage with react-router + react-helmet and the `referrer` now behaves as aspected when using back/fwd buttons. 🔥

[2017-10-11 17:12] cfnelson commented on #196
@abdelrahman-elkady Thanks for the update, did you determine which package was the cause? I am guessing the other package is overwriting our `window.onload` function without calling any of the functions already applied. We may look to change this behaviour ourselves or at least add better documentation to the Readme.

[2017-10-12 02:54] ericwikman commented on #179
3.0.3 worked for me! thanks!

[2017-10-14 11:55] nicooprat opened #200 "App crashes with ad blocker"
Getting a blank page and this error when navigating on my app on Safari iOS 11:

![image](https://user-images.githubusercontent.com/645641/31575430-1ce0f7e8-b0e7-11e7-9a78-7653e46baca5.png)

My content blocker (Purify) is in cause. Reloading without it works.

Any idea how to avoid this? Thanks.

Edit: same on Chrome desktop (Mac OS) when using Ublock.

[2017-10-14 13:06] nicooprat commented on #200
Didn't see https://github.com/okgrow/analytics/blob/3c056a95f63fb23ce1ccd3c4f72f46516e657bce/README.md#ad-blocker. My bad.

[2017-10-14 13:06] #200 closed, assigned to nobody

[2017-10-14 15:06] RichardLitt commented on #200
Thanks, @nicooprat, for logging anyway! Others may run into this issue in the future.

[2017-10-16 19:44] cfnelson commented on #195
@dobesv We have just published `v3.0.4` which includes an updated `analytics.min.js` it should include the latest version of the `Google Analytics` segment [integration](https://github.com/segment-integrations/analytics.js-integration-google-analytics).

Let me know if this latest version has solved the `optimize` parameter for you.

[2017-10-16 19:44] #195 closed, assigned to nobody

[2017-10-16 21:37] dobesv commented on #195
I will give it a try when I can. Currently meteor won't let me update the
package, saying it is incompatible. So I'll have to solve that mystery
first.

On Mon, Oct 16, 2017, 12:44 PM Charles Nelson <notifications@github.com>
wrote:

[2017-10-16 22:16] cfnelson commented on #195
@dobesv There shouldn't be any incompatible changes made going from `v3.03` to `v3.04`. The examples we have inside this repo are able to run without any issues. You could always manually set the version in `.meteor/.versions` and see if it runs ok. Hope your able to upgrade without any issues. 👌

[2017-11-16 13:57] safwanolaimat opened #202 "Multiple Google Analytics tags detected [solved]"
Multiple Google Analytics tags detected

[2017-11-16 15:02] RichardLitt commented on #202
Thanks @husafwan. It's a bit hard to diagnose this without anymore information. Can you point to an example of how you implemented the code, for instance?

[2017-11-17 17:52] cfnelson commented on #202
@husafwan This happens when you have included GA more then once. You most likely have extra analytic scripts added to your websites `<head>`. Check your `html` to locate the script responsible and remove it.

If you provide us with more info, we will be happy to assist further if you need it. 😄
Closing until then as this issue isn't a bug related to this package.

[2017-11-17 17:52] #202 closed, assigned to nobody

[2017-11-27 18:19] derwaldgeist opened #203 "Package breaks back navigation on Meteor 1.6 if FlowRouter is used"
As described here in detail:

https://github.com/meteor/meteor/issues/9419

after upgrading my app from Meteor 1.5 to 1.6 I faced the problem that the browser back button did not work anymore if the target of the back navigation was the initial page the app had been loaded with.

After hours of search, I could boil this down to a "monkey patched" `history.pushState()` function introduced by `okgro

[2017-11-27 18:21] RichardLitt commented on #203
Thanks for logging and researching this issue, @derwaldgeist! Noted.

[2017-11-27 19:11] cfnelson commented on #203
@derwaldgeist Thanks for adding this issue. Could you update the issue title to mention FlowRouter as this bug is specific to FlowRouter. I am also curious to know which versions of this package and flow router you are using. Is their any version changes in these two pkgs when you upgrade to Meteor 1.6.

Also the code related to this is located over in our [auto-analytics](https://github.com/okgro

[2017-11-27 21:46] cfnelson commented on #203
A fix has been created for the above bug and a [PR](https://github.com/okgrow/auto-analytics/pull/19) has been opened on our auto-analytics pkg.

We will publish a new meteor analytics package once `@okgrow/auto-analytics@1.0.6` is released.

For further details you can read this comment [here](https://github.com/meteor/meteor/issues/9419#issuecomment-347336949).

[2017-11-27 22:11] derwaldgeist commented on #203
Thanks again for the very fast fix! Changed the title so it reflects FlowRouter.

[2017-11-27 22:12] derwaldgeist commented on #203
Shall I close this issue or do you want to keep it open until the update has been published?

[2017-11-27 22:19] cfnelson commented on #203
@derwaldgeist No problems. Lets keep this open until we publish the fix. As I am waiting for a code review on the original PR & will then need to make a new release for meteor analytics once the npm pkg has been published.

[2017-11-27 23:57] cfnelson commented on #203
@derwaldgeist `v3.0.5` is published 🎉 . I have tested locally with the Flow Router example and all seems good! 😄 Let me know how the latest release goes for you!

Going to mark this issue as resolved, but please open back up if you have any issues. 👍

[2017-11-27 23:57] #203 closed, assigned to nobody

[2017-11-28 10:23] derwaldgeist commented on #203
Yeah, I can confirm it works after the update. Great work, thanks! 👍

[2017-12-14 18:49] dylanmcgowan opened #205 "net::ERR_BLOCKED_BY_CLIENT with Ad blocker in production (Mixpanel)"
My ad blocker (uBlock origin) is preventing Mixpanel from working on one of my sites in production. (www.rayr.co) Is this the intended behavior? It was my understanding that meteor bundles everything together for production, but mixpanel & google analytics are not included in the bundle, they are appended to the `<head>` element instead. The meteor bundle is located in the body now.

Any idea what

[2017-12-14 19:22] RichardLitt commented on #205
That sounds to me like the expected behaviour for uBlock, which will block mixpanel when it sees it.

@cfnelson may be able to hep more.

[2017-12-14 23:16] cfnelson commented on #205
@dylanmcgowan This is normal behaviour for an Ad-Blocker. Bundling won't stop an Ad Blocker from blocking network requests. They monitor all network requests and block anything related to advertising/analytics etc. This is normally done by checking the domain or the filename even (thats why we give a warning about testing in dev as uBlock origin will read the packages filename and block it). You c

[2017-12-14 23:16] #205 closed, assigned to nobody

[2018-02-23 20:04] ghost commented on #186
Adding to @alextondello 's solution one could use `Accounts.onLogin()` callback to send this additional information. Thank you anyways, @alextondello .

[2018-03-16 03:42] RobertLowe commented on #177
Cross ref: https://github.com/meteor/node-stubs/issues/6

[2018-05-03 10:31] raffomania opened #207 "Package breaks whole page when adblock is enabled"
In development mode, when the package is not bundled, many adblockers will block requests to the analytics package, making the whole page not render.

[2018-05-03 12:44] pauldowman commented on #207
Yes, known issue, it's documented here: See https://github.com/okgrow/analytics#ad-blocker

[2018-05-03 12:44] #207 closed, assigned to nobody

[2018-05-04 23:47] qutehoot007 commented on #176
Hi, I have the same issue but found this is related to AdBlock chrome extension, try to disable it and check again.

[2018-05-22 12:50] derwaldgeist opened #208 "GDPR compliance for Google Analytics"
Hi, as of May 25th, analytics has to be compliant to GDPR regulations in the EU.

At the bare minimum, this requires:
- the user to be able to opt out of analytics. This can be done by either installing a browser plugin or - for mobile devices - with a browser cookie, as described here: https://developers.google.com/analytics/devguides/collection/gajs/?hl=de#disable
- setting the anonymizeIP optio

[2018-05-22 12:54] derwaldgeist commented on #208
Update: For anonymizeIP, I found #38, so this should be covered.

[2018-05-23 16:43] RichardLitt commented on #208
@pauldowman If you're not aware of this already, probably could use your feedback. :)

[2018-05-23 17:51] cfnelson commented on #208
@derwaldgeist I believe you found the answer which you linked to? As seen below.

[code]

Were you still looking for feedback on the first point? If your wanting greater control you can use our [@okgrow/auto-analytics](https://github.com/okgrow/auto-analytics) which is an npm pkg and gives you more control on when/how you initialise your analytics. e.g -> don't initialise if your user declines you

[2018-05-25 22:54] derwaldgeist commented on #208
Thanks for the fast replies. Yes, I was still looking for feedback on the first point. But I was able to implement this on my own in the meantime, by setting the global variable as described in the Google article. Luckily, this affects `okgrow:analytics`, too, and Google stops tracking immediately. And, also important, It won't restart it again on app reload. This workaround is a bit ugly, because

[2018-05-25 22:54] #208 closed, assigned to nobody

[2018-05-30 08:03] carlovenus opened #209 "Tag not found"
Hello there,

i am unable to get it work. Analytics and Google Tag Manager tell me that the tag is not found, although the analyticsSettings are set properly.

`"public": {
        "analyticsSettings": {
            "Google Analytics": {
                "trackingId": "XYZ"
            }
        }
    }`

I am using Iron Router without setting

`Tracker.autorun(() => {
    document.title = Router.c

[2018-06-02 04:35] cfnelson commented on #209
@carlovenus Your meteor settings look correct. Check out our [Readme](https://github.com/okgrow/analytics#iron-router) which states how this works with iron router (code snippet below) & I would also recommend taking a look and running the `iron-router` [example](https://github.com/okgrow/analytics/tree/master/examples/iron-router) that we have in the repo.

[code]

If you want a router agnostic a

[2018-06-07 19:08] ilan-schemoul commented on #98
Well, that means that every people using this package with European users is an outlaw, right ?
We really need a way around this. So I guess I'll see if I could make a PR, but does everybody have really ignored the European law ? I mean as for me if my client wouldn't have warned me I'll most likely have forgotten about it but still ?

[2018-06-07 19:44] cfnelson commented on #98
@NitroBAY Related issue here with some solutions -> https://github.com/okgrow/analytics/issues/208
Happy to accept a PR to improve this experience.

[2018-06-07 22:03] ilan-schemoul commented on #98
So if I understand correctly the issue we used to have to show the user that data was collected and now we need the user to consent by CLICKING a button or something very explicit alike (stating what's going on) before collecting any data plus activate in any way google analytic's IP anonymization.

[2018-06-07 22:17] ilan-schemoul commented on #98
Well I'll just use the new npm package and I advice future readers to do the same. Good package.

[2018-07-13 17:02] Macbit opened #211 "SegmentIO is not loaded properly, so events are not passed to destinations."
Background:
I run a Meteor app and it is connected to SegmentIO via okgrow. I can see that the events are being fired from the sources and are caught in Debugger in Segment's dashboard, so it should work fine. However, these events are not sent to Google Analytics or Facebook Pixel. I contacted the SegmentIO support and after 5 days of ping-pong emails, that's their reply below:

We've actually se

[2018-07-13 17:56] Macbit commented on #70
@ccuilla so how does the latest version of this package function? Is analytics.js embedded or it needs to be added separately as in auto-analytics ?

[2018-07-13 18:17] ghost commented on #70
@Macbit The latest version (3.0.5) of this (the Meteor) package has a dependency on version 1.0.6 of our underlying _npm_ package https://github.com/okgrow/auto-analytics. Version 1.0.6 of that package still includes our build of the most common Segment analytics integrations. In short you should just be able to install this package and get the whole thing.

At this point we have not updated the M

[2018-07-17 17:26] cfnelson commented on #211
@Macbit I would recommend testing out the base pkg which is here first https://github.com/okgrow/auto-analytics , if this one doesn't report the analytics correctly then I am at a loss as it works correctly for other Meteor projects which we have used this for in the past.

[2018-10-14 14:43] promentol opened #212 "How to supply our own analytics.js build?"
I saw inside v4 branch, that it is getting planned to support own analytics.js build. What is the steps to integrate our ready to use analytics.js build?

[2018-10-18 04:33] cfnelson commented on #212
@promentol If you're wanting to use your own analytics.js build I would recommend switching over to this pkg https://github.com/okgrow/auto-analytics , only missing feature is the meteor specific user/login tracking. You can then use your own build. Read the `Creating Segment's analytics.js` section in the Readme for the instructions your looking for.
Hope this helps :)

[2018-10-20 17:32] Gwened commented on #176
I got the same issue (on 2.1.3) after installing the Windscribe Chrome extension.
Disabling it fixed the issue!

[2018-11-13 06:19] ashtynabell opened #213 "Setting People Properties and Incrementing Events for Mixpanel"
### Two questions here:
1. How do we explicitly set people properties?
2. How do we increment event counts for Mixpanel people?

#### Setting People Properties
Is there an analytics equivalent of `mixpanel.people.set`? It seems like the `analytics.identify()` function is what should be used per [the Segment docs on identify](https://segment.com/docs/destinations/mixpanel/#identify). However to [ex

[2018-11-14 15:15] cfnelson commented on #213
Sorry, I'm not very knowledgeable on mixpanel usage.

I'd recommend asking this over on segment for the specific usage of their package.

This only wraps segments package and any specific usage of it and a problem with the specific integration like mixpanel would be better asked in their documtation or customer support.

[2018-11-14 15:15] #213 closed, assigned to nobody

[2018-11-14 15:16] #212 closed, assigned to nobody

[2018-11-14 15:16] #211 closed, assigned to nobody

[2018-11-14 15:16] #209 closed, assigned to nobody

[2018-11-14 17:23] ashtynabell commented on #213
Thanks, @cfnelson. Quick follow up since you're closing this. Based on your response, I'm assuming that we need a Segment account to fully utilize this package/wrapper of Segment's JS library, [Analytics.js](https://segment.com/docs/sources/website/analytics.js/).

Is this correct or am I off base?

[2018-11-14 17:53] cfnelson commented on #213
@ashtynabell Sorry, I can re-open it if you'd like someone from the community to help out, as they may know the answer.
You shouldn't need to have a Segment account, or previously you didn't the last I checked. Though I will admit that their documentation and website is quite confusing & misleading around this! But their pkgs are meant to be all open source. And they are just providing a single AP

[2018-11-14 17:59] cfnelson commented on #213
@ashtynabell To clarify further you should take a look at -> main entry point https://github.com/segmentio/analytics.js & https://github.com/segmentio/analytics.js-core for the core itself, and then you can look at the specific integrations -> https://github.com/segment-integrations?q=analytics.js-integration

Specifically mixpanel is here -> https://github.com/segment-integrations/analytics.js-in

[2019-03-01 12:16] cpury opened #214 "Google Tag Manager integration not working"
I'm using several integrations (Google Analytics, Mixpanel and Google Tag Manager). They all work except Google Tag Manager. There, nothing is tracked.

When I check the Network tab in chrome dev tools, I see that the GTM JS file is not loaded. I see `https://www.google-analytics.com/analytics.js` and `https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js` being loaded, but no `https://www.googletag

[2019-03-11 13:05] cpury commented on #214
FYI: This project is dead. But it's easy to rebuild in your project:

1. Install auto-analytics as described here, including building your own analysis.js (takes a few minutes): https://github.com/okgrow/auto-analytics
2. Look at what this Meteor package here is doing and copy the behavior over to your project. The important parts are the configuration on the client, the automatic identification (

[2020-03-25 08:36] Arnauw commented on #32
Just had this problem too with "https://apis.google.com/js/platform.js", only solution is to disable addblock, or maybe charge the script locally instead.